body.about-us .header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  color: #ffffff;
}

body.about-us .main {
  background: url("../img/about-us-team-background.jpg") center/cover fixed;
}

body.about-us .main .team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body.about-us .main .team .positioner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 1400px;
  padding: 360px 25px 0px 25px;
  margin: auto;
  color: #ffffff;
}

body.about-us .main .team .positioner .section-title,
body.about-us .main .team .positioner .note {
  text-align: center;
}

body.about-us .main .team .positioner .section-title {
  position: relative;
  font: 700 9.2rem 'Barlow', sans-serif;
  text-transform: uppercase;
  letter-spacing: 1.4px;
  margin-bottom: 20px;
  color: #ffffff;
}

body.about-us .main .team .positioner .section-title::before {
  content: '';
  position: absolute;
  display: block;
  width: 80px;
  height: 2px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: -33px;
  background: #f73a46;
}

body.about-us .main .team .positioner .note {
  font: 400 2.4rem 'Barlow', sans-serif;
  opacity: 0.7;
  margin-bottom: 140px;
}

body.about-us .main .team .positioner .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 145px;
}

body.about-us .main .team .positioner .list .teammate {
  width: 47.4%;
  margin-bottom: 70px;
}

body.about-us .main .team .positioner .list .teammate .person {
  position: relative;
}

body.about-us .main .team .positioner .list .teammate .person .image source,
body.about-us .main .team .positioner .list .teammate .person .image img {
  width: 100%;
}

body.about-us .main .team .positioner .list .teammate .person .about-person {
  position: absolute;
  bottom: 8%;
  left: 6%;
}

body.about-us .main .team .positioner .list .teammate .person .about-person .name {
  font: 400 2.8rem 'Barlow', sans-serif;
  margin-bottom: 5px;
}

body.about-us .main .team .positioner .list .teammate .person .about-person .profession {
  font: 400 1.6rem 'Barlow', sans-serif;
  opacity: 0.7;
}

body.about-us .main .team .positioner .description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 110px;
}

body.about-us .main .team .positioner .description .description-title {
  position: relative;
  font: 500 3.6rem 'Barlow', sans-serif;
  width: 33.3%;
}

body.about-us .main .team .positioner .description .description-title::after {
  content: '';
  position: absolute;
  display: block;
  width: 80px;
  height: 2px;
  background: #f73a46;
  left: 0;
  top: 84px;
}

body.about-us .main .team .positioner .description .description-block {
  width: 33.3%;
  padding-left: 30px;
}

body.about-us .main .team .positioner .description .description-block .block-title {
  font: 500 1.2rem 'Barlow Semi Condensed', sans-serif;
  text-transform: uppercase;
  color: #ff4652;
  margin-bottom: 20px;
}

body.about-us .main .team .positioner .description .description-block .block-description {
  font: 400 1.6rem/2.8rem 'Barlow', sans-serif;
  opacity: .7;
  white-space: pre-line;
}

body.about-us .main .team .positioner .description .description-block:nth-child(3) {
  padding-left: 45px;
}

body.about-us .main .team .positioner .grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body.about-us .main .team .positioner .grid .col {
  width: 30%;
}

body.about-us .main .team .positioner .grid .col .person {
  position: relative;
  margin-bottom: 70px;
}

body.about-us .main .team .positioner .grid .col .person .image source,
body.about-us .main .team .positioner .grid .col .person .image img {
  width: 100%;
}

body.about-us .main .team .positioner .grid .col .person .about-person {
  position: absolute;
  bottom: 37px;
  left: 40px;
}

body.about-us .main .team .positioner .grid .col .person .about-person .name {
  font: 400 2.4rem 'Barlow', sans-serif;
}

body.about-us .main .team .positioner .grid .col .person .about-person .profession {
  font: 400 1.6rem 'Barlow', sans-serif;
  opacity: 0.7;
}

body.about-us .main .team .positioner .grid .col .link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-bottom: 207px;
  padding: 135px 0px 45px 40px;
  background: linear-gradient(155deg, #ff4652 0, #ff5646 100%);
  -webkit-box-shadow: 8px 20px 45px rgba(255, 70, 82, 0.12);
          box-shadow: 8px 20px 45px rgba(255, 70, 82, 0.12);
  -webkit-transition: .6s;
  transition: .6s;
}

body.about-us .main .team .positioner .grid .col .link:hover {
  background: -webkit-gradient(linear, left top, right top, color-stop(0, #ff4652), color-stop(95%, #ff5646));
  background: linear-gradient(90deg, #ff4652 0, #ff5646 95%);
  -webkit-box-shadow: 8px 20px 45px rgba(255, 70, 82, 0.2);
          box-shadow: 8px 20px 45px rgba(255, 70, 82, 0.2);
}

body.about-us .main .team .positioner .grid .col .link .link-title {
  font: 500 3.6rem 'Barlow', sans-serif;
  margin-bottom: 5px;
}

body.about-us .main .team .positioner .grid .col .link .link-description {
  font: 400 1.6rem 'Barlow', sans-serif;
}

body.about-us .main .team .positioner .link {
  display: none;
}

body.about-us .main .our-clients {
  padding-top: 220px;
}

body.about-us .main .our-clients .positioner .section-title {
  width: 100%;
  text-align: center;
  margin-bottom: 170px;
}

body.about-us .main .our-clients .positioner .section-title .text {
  position: relative;
}

body.about-us .main .our-clients .positioner .section-title .text::after {
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  right: 0;
  top: initial;
  bottom: -54px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 80px;
  height: 2px;
  background: #f73a46;
}

@media only screen and (max-width: 1200px) {
  body.about-us .main .team .positioner .section-title {
    font-size: 7rem;
  }
  body.about-us .main .team .positioner .grid .col .link {
    padding-left: 0;
    text-align: center;
  }
}

@media only screen and (max-width: 960px) {
  body.about-us .main .team .positioner .list .teammate {
    width: 100%;
  }
  body.about-us .main .team .positioner .description {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  body.about-us .main .team .positioner .description .description-title {
    width: 100%;
    margin-bottom: 100px;
  }
  body.about-us .main .team .positioner .description .description-title::after {
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  body.about-us .main .team .positioner .description .description-block {
    width: 100%;
    padding: 0;
  }
  body.about-us .main .team .positioner .description .description-block:nth-child(2) {
    margin-bottom: 50px;
  }
  body.about-us .main .team .positioner .description .description-block:nth-child(3) {
    padding-left: 0px;
  }
  body.about-us .main .team .positioner .grid .col {
    width: 100%;
  }
  body.about-us .main .team .positioner .grid .col .link {
    display: none;
  }
  body.about-us .main .team .positioner .link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-item-align: start;
        align-self: flex-start;
    margin-bottom: 120px;
    padding: 20px 0 20px 20px;
    width: 100%;
    background: linear-gradient(155deg, #ff4652 0, #ff5646 100%);
    -webkit-box-shadow: 8px 20px 45px rgba(255, 70, 82, 0.12);
            box-shadow: 8px 20px 45px rgba(255, 70, 82, 0.12);
    -webkit-transition: .6s;
    transition: .6s;
  }
  body.about-us .main .team .positioner .link:hover {
    background: -webkit-gradient(linear, left top, right top, color-stop(0, #ff4652), color-stop(95%, #ff5646));
    background: linear-gradient(90deg, #ff4652 0, #ff5646 95%);
    -webkit-box-shadow: 8px 20px 45px rgba(255, 70, 82, 0.2);
            box-shadow: 8px 20px 45px rgba(255, 70, 82, 0.2);
  }
  body.about-us .main .team .positioner .link .link-title {
    font: 500 3.6rem 'Barlow', sans-serif;
    margin-bottom: 5px;
  }
  body.about-us .main .team .positioner .link .link-description {
    font: 400 1.6rem 'Barlow', sans-serif;
  }
  body.about-us .main .our-clients {
    padding-top: 100px;
  }
}

@media only screen and (max-width: 900px) {
  body.about-us .main .team .positioner .section-title {
    font-size: 5.9rem;
  }
  body.about-us .main .our-clients .positioner .section-title .text::before {
    display: none;
  }
}

@media only screen and (max-width: 480px) {
  body.about-us .main .our-clients .positioner .section-title .text::after {
    width: 80px;
    right: 50%;
  }
}

@media only screen and (max-width: 400px) {
  body.about-us .main .our-clients .positioner .section-title .text::after {
    width: 80px;
    right: 50%;
  }
}

@media only screen and (max-width: 320px) {
  body.about-us .main .our-clients .positioner .section-title .text::after {
    display: block;
  }
}
/*# sourceMappingURL=about-us.css.map */