body.home .header {
  width: 100%;
  height: 98vh;
  background: url("../img/home-hero-2560w.jpg") 38% 52%/105% no-repeat;
  background-position-x: 38%;
  background-position-y: 52%;
  overflow: hidden;
  color: #ffffff;
}

body.home .header .layout-centered {
  position: relative;
  top: -7%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 10.6%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
}

body.home .header .layout-centered .svg-square-1 {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 400px;
  height: 400px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

body.home .header .layout-centered .description {
  -ms-flex-item-align: start;
      align-self: flex-start;
  position: relative;
  font: 500 1.2rem 'Barlow Semi Condensed', sans-serif;
  text-transform: uppercase;
  letter-spacing: 1.7px;
  margin-bottom: 10px;
}

body.home .header .layout-centered .description::before, body.home .header .layout-centered .description::after {
  content: '';
  display: block;
  position: absolute;
  width: 80px;
  height: 2px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background: #f73a46;
}

body.home .header .layout-centered .description::before {
  display: none;
  left: -97px;
}

body.home .header .layout-centered .description::after {
  right: -97px;
}

body.home .header .layout-centered .header-title {
  font: 700 9.2rem/10.12rem 'Barlow';
  white-space: pre-line;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 30px;
}

body.home .header .layout-centered .icon-down {
  color: #fcfcfc;
  font-size: 1.6rem;
  margin-left: 4px;
}

body.home .main .about-us {
  -webkit-transition: opacity 1.5s !important;
  transition: opacity 1.5s !important;
  background: url(../img/home-about-bg.svg) 18% 35.5%/50% no-repeat, url(../img/home-about-device.jpg) 77% 307px/27% no-repeat, url(../img/home-about-texture.svg) 77% 90%/30% no-repeat;
}

body.home .main .about-us .layout-centered {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 510px;
  padding-left: 165px;
  padding-bottom: 492px;
}

body.home .main .about-us .layout-centered .section-title {
  margin-bottom: 14px;
}

body.home .main .about-us .layout-centered .description {
  margin-bottom: 46px;
  letter-spacing: -0.1px;
  white-space: pre-line;
  font: 400 1.6rem/2.8rem 'Barlow', sans-serif;
  color: #444444;
}

body.home .main .about-us .layout-centered .features-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 45%;
  font: 400 2rem/3rem 'Barlow', sans-serif;
  color: #111111;
}

body.home .main .about-us .layout-centered .features-list .item {
  width: 50%;
  margin-bottom: 10px;
}

body.home .main .about-us .layout-centered .features-list .item:last-child {
  margin-bottom: 48px;
}

body.home .main .about-us .layout-centered .button {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

body.home .main .projects {
  position: relative;
  padding-top: 205px;
  padding-bottom: 247px;
  background: linear-gradient(5deg, #1e1e1e 0, #111 100%);
}

body.home .main .projects .positioner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 1400px;
  padding: 0 25px;
  margin: 0 auto 134px auto;
}

body.home .main .projects .positioner .section-title {
  color: #ffffff;
}

body.home .main .projects .positioner .button {
  color: #ffffff;
  border-color: #ffffff;
  z-index: 1;
}

body.home .main .projects .positioner .button:hover {
  background: #ffffff;
  color: #000000;
}

body.home .main .projects .projects-slider {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  z-index: 5;
}

body.home .main .projects .projects-slider .swiper-slide {
  position: relative;
  overflow: hidden;
}

body.home .main .projects .projects-slider .swiper-slide .image source,
body.home .main .projects .projects-slider .swiper-slide .image img {
  width: 100%;
}

body.home .main .projects .projects-slider .swiper-slide .overflow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(10, 10, 10, 0.65);
  opacity: 0;
  -webkit-transition: opacity .3s;
  transition: opacity .3s;
  color: #ffffff;
}

body.home .main .projects .projects-slider .swiper-slide .overflow .title,
body.home .main .projects .projects-slider .swiper-slide .overflow .description {
  -webkit-transition: opacity 0.6s, -webkit-transform 0.6s;
  transition: opacity 0.6s, -webkit-transform 0.6s;
  transition: opacity 0.6s, transform 0.6s;
  transition: opacity 0.6s, transform 0.6s, -webkit-transform 0.6s;
}

body.home .main .projects .projects-slider .swiper-slide .overflow .title {
  margin-bottom: 15px;
  font: 500 3.6rem 'Barlow', sans-serif;
  opacity: 0;
}

body.home .main .projects .projects-slider .swiper-slide .overflow .description {
  margin-top: 15px;
  font: 400 1.6rem 'Barlow', sans-serif;
  opacity: 0;
}

body.home .main .projects .projects-slider .swiper-slide .overflow:hover {
  opacity: 1;
}

body.home .main .projects .projects-slider .swiper-slide .overflow:hover .title,
body.home .main .projects .projects-slider .swiper-slide .overflow:hover .description {
  opacity: 1;
}

body.home .main .projects .projects-slider .swiper-slide .overflow:hover .title {
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
}

body.home .main .projects .projects-slider .swiper-slide .overflow:hover .description {
  -webkit-transform: translateY(-14px);
          transform: translateY(-14px);
}

body.home .main .projects .projects-slider .swiper-button-prev,
body.home .main .projects .projects-slider .swiper-button-next {
  font-size: 2.2rem;
  color: #ffffff;
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

body.home .main .projects .projects-slider .swiper-button-prev::after,
body.home .main .projects .projects-slider .swiper-button-next::after {
  display: none;
}

body.home .main .projects .projects-slider .swiper-pagination {
  position: absolute;
  bottom: -44px;
  pointer-events: none;
}

body.home .main .projects .projects-slider .swiper-pagination .swiper-pagination-bullet {
  pointer-events: auto;
  margin-right: 7px;
  padding: 5px;
  background: none;
  border: 1px solid gray;
}

body.home .main .projects .projects-slider .swiper-pagination .swiper-pagination-bullet:not(.swiper-pagination-bullet-active):hover {
  border-color: white;
  opacity: 0.5;
}

body.home .main .projects .projects-slider .swiper-pagination .swiper-pagination-bullet-active {
  border-color: #af3840;
}

body.home .main .projects .projects-slider:hover .swiper-button-prev,
body.home .main .projects .projects-slider:hover .swiper-button-next {
  opacity: 0.7;
}

body.home .main .projects .svg-square-2 {
  position: absolute;
  top: 12.4%;
  left: 77.1%;
  width: 531px;
  height: 844px;
}

body.home .footer {
  padding-top: 260px;
  padding-bottom: 205px;
  background: url("../img/home-contact-texture.svg") 27.14% 41%/390px 272px no-repeat, linear-gradient(5deg, #1e1e1e 0, #111111 100%);
  color: #ffffff;
}

body.home .footer .positioner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 1400px;
  padding: 0 25px;
  margin: auto;
}

body.home .footer .positioner .section-title {
  width: 50%;
  padding-top: 17px;
  padding-left: 40px;
  color: #ffffff;
  line-height: 1.1;
}

body.home .footer .positioner .section-title .link {
  white-space: pre-line;
  -webkit-text-decoration: solid underline;
          text-decoration: solid underline;
  -webkit-transition: opacity .3s;
  transition: opacity .3s;
}

body.home .footer .positioner .section-title .link:hover {
  opacity: 0.5;
}

body.home .footer .positioner .contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 50%;
  margin-bottom: 127px;
  padding-left: 20px;
}

body.home .footer .positioner .contacts .address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
  margin-bottom: 22px;
}

body.home .footer .positioner .contacts .address .title {
  margin-bottom: 20px;
  font: 400 2.8rem 'Barlow', sans-serif;
}

body.home .footer .positioner .contacts .address .description {
  opacity: 0.7;
  white-space: pre-line;
  font: 400 1.6rem/2.7rem 'Barlow', sans-serif;
}

body.home .footer .positioner .contacts .address-2 {
  padding-left: 20px;
}

body.home .footer .positioner .contacts .tel-mail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
}

body.home .footer .positioner .contacts .tel-mail .tel {
  margin-bottom: 5px;
  font: 400 2.4rem 'Barlow', sans-serif;
}

body.home .footer .positioner .contacts .tel-mail .mail {
  -ms-flex-item-align: start;
      align-self: flex-start;
  font: 400 1.6rem 'Barlow', sans-serif;
  text-decoration: underline;
  -webkit-transition: opacity .3s;
  transition: opacity .3s;
}

body.home .footer .positioner .contacts .tel-mail .mail:hover {
  opacity: 0.5;
}

body.home .footer .positioner .contacts .tel-mail-2 {
  padding-left: 20px;
}

body.home .footer .positioner .note {
  width: 50%;
  -webkit-transition: .3s;
  transition: .3s;
}

body.home .footer .positioner .note .title {
  font: 400 2.4rem 'Barlow', sans-serif;
}

body.home .footer .positioner .note .definition {
  font: 400 1.6rem 'Barlow', sans-serif;
  opacity: 0.7;
}

body.home .footer .positioner .social-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-size: 1.9rem;
  width: 50%;
  padding-top: 8px;
  padding-left: 32px;
}

body.home .footer .positioner .social-bar .item {
  margin-right: 33px;
  -webkit-transition: opacity .3s;
  transition: opacity .3s;
}

body.home .footer .positioner .social-bar .item:hover {
  opacity: 0.5;
}

@media only screen and (min-height: 1000px) {
  body.home .header {
    background: url("../img/home-hero-2560w.jpg") center/cover no-repeat;
  }
}

@media only screen and (max-width: 1680px) {
  body.home .layout-centered {
    width: 100%;
  }
}

@media only screen and (max-width: 1650px) {
  body.home .header {
    background: url("../img/home-hero-2560w.jpg") center/cover no-repeat;
  }
}

@media only screen and (max-width: 1500px) {
  body.home .main .about-us {
    background: url(../img/home-about-bg.svg) 18% 58%/50% no-repeat, url(../img/home-about-device.jpg) 77% 250px/27% no-repeat, url(../img/home-about-texture.svg) 77% 90%/30% no-repeat;
  }
  body.home .main .about-us .layout-centered {
    padding-top: 350px;
  }
}

@media only screen and (max-width: 1400px) {
  body.home .main .projects .positioner {
    width: 100%;
    padding: 0 35px;
  }
  body.home .footer .positioner {
    width: 100%;
    padding: 0 35px;
  }
}

@media only screen and (max-width: 1300px) {
  body.home .main .about-us {
    background: url(../img/home-about-bg.svg) 18% 58%/50% no-repeat, url(../img/home-about-device.jpg) 85% 250px/27% no-repeat, url(../img/home-about-texture.svg) 77% 90%/30% no-repeat;
  }
  body.home .main .about-us .layout-centered {
    padding-left: 110px;
  }
  body.home .main .about-us .layout-centered .features-list .item:nth-child(1),
  body.home .main .about-us .layout-centered .features-list .item:nth-child(3),
  body.home .main .about-us .layout-centered .features-list .item:nth-child(5) {
    padding-right: 15px;
  }
}

@media only screen and (max-width: 1200px) {
  body.home .header {
    background: url("../img/home-hero-2560w.jpg") 70% 0/cover no-repeat;
  }
  body.home .header .layout-centered .header-title {
    font: 700 7rem/7.2rem 'Barlow';
    white-space: normal;
  }
  body.home .main .about-us {
    background: url(../img/home-about-bg.svg) 18% 58%/50% no-repeat, url(../img/home-about-device.jpg) 85% 300px/27% no-repeat, url(../img/home-about-texture.svg) 77% 90%/30% no-repeat;
  }
  body.home .main .about-us .layout-centered {
    padding-bottom: 340px;
  }
}

@media only screen and (max-width: 1100px) {
  body.home .main .about-us {
    background: url(../img/home-about-bg.svg) 18% 58%/50% no-repeat, url(../img/home-about-device.jpg) 90% 250px/27% no-repeat, url(../img/home-about-texture.svg) 77% 90%/30% no-repeat;
  }
  body.home .main .about-us .layout-centered {
    padding-top: 320px;
  }
}

@media only screen and (max-width: 1000px) {
  body.home .main .about-us {
    background: url(../img/home-about-bg.svg) 18% 58%/50% no-repeat, url(../img/home-about-device.jpg) 95% 250px/27% no-repeat, url(../img/home-about-texture.svg) 77% 90%/30% no-repeat;
  }
  body.home .main .about-us .layout-centered {
    padding-left: 70px;
    padding-top: 320px;
  }
  body.home .main .projects {
    padding-top: 170px;
    padding-bottom: 225px;
  }
  body.home .footer {
    padding-top: 170px;
    padding-bottom: 140px;
    background: linear-gradient(5deg, #1e1e1e 0, #111111 100%);
  }
  body.home .footer .positioner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body.home .footer .positioner .section-title {
    margin-bottom: 80px;
    padding: 20px 0;
    width: 100%;
    font-size: 5rem;
    text-align: center;
    background: url("../img/home-contact-texture.svg") center no-repeat;
  }
  body.home .footer .positioner .section-title .link {
    white-space: normal;
  }
  body.home .footer .positioner .contacts {
    width: auto;
    padding: 0;
    margin: 0 auto 55px auto;
    text-align: center;
  }
  body.home .footer .positioner .contacts .address-2 {
    padding: 0;
  }
  body.home .footer .positioner .contacts .tel-mail .mail {
    -ms-flex-item-align: stretch;
        -ms-grid-row-align: stretch;
        align-self: stretch;
  }
  body.home .footer .positioner .contacts .tel-mail-2 {
    padding: 0;
  }
  body.home .footer .positioner .note {
    width: auto;
    text-align: center;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  body.home .footer .positioner .social-bar {
    margin: 0 auto 40px auto;
    width: auto;
    padding: 0;
  }
  body.home .footer .positioner .social-bar .item {
    margin-right: 20px;
  }
}

@media only screen and (max-width: 900px) {
  body.home .section-title {
    font-size: 5.5rem;
  }
  body.home .main .about-us {
    background: url(../img/home-about-device.jpg) 50% 100px/400px no-repeat;
  }
  body.home .main .about-us .layout-centered {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 720px;
    padding-bottom: 220px;
    text-align: center;
  }
  body.home .main .about-us .layout-centered .section-title {
    margin-bottom: 20px;
  }
  body.home .main .about-us .layout-centered .description {
    margin-bottom: 40px;
    white-space: normal;
  }
  body.home .main .about-us .layout-centered .features-list {
    width: 100%;
  }
  body.home .main .about-us .layout-centered .button {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

@media only screen and (max-width: 800px) {
  body.home .header .layout-centered .description {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  body.home .header .layout-centered .description:before {
    display: block;
  }
  body.home .header .layout-centered .header-title {
    text-align: center;
  }
  body.home .header .layout-centered .icon-down {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin-left: 0;
  }
  body.home .main .about-us .layout-centered {
    padding-bottom: 180px;
  }
  body.home .main .projects {
    padding-top: 150px;
    padding-bottom: 210px;
  }
}

@media only screen and (max-width: 768px) {
  body.home .footer {
    padding-top: 135px;
    padding-bottom: 115px;
  }
}

@media only screen and (max-width: 700px) {
  body.home .main .about-us .layout-centered {
    padding-left: 30px;
    padding-right: 30px;
  }
  body.home .main .projects {
    padding-top: 105px;
    padding-bottom: 170px;
  }
  body.home .main .projects .positioner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body.home .main .projects .positioner .section-title {
    margin-bottom: 30px;
  }
  body.home .main .projects .projects-slider .swiper-button-prev,
  body.home .main .projects .projects-slider .swiper-button-next {
    display: none;
  }
  body.home .main .projects .svg-square-2 {
    top: 17%;
  }
}

@media only screen and (max-height: 640px) {
  body.home .header .layout-centered {
    top: -3%;
  }
}

@media only screen and (max-width: 640px) {
  body.home .footer .positioner .contacts {
    margin-bottom: 65px;
  }
  body.home .footer .positioner .contacts .address,
  body.home .footer .positioner .contacts .tel-mail {
    width: 100%;
  }
  body.home .footer .positioner .contacts .addres-1 {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  body.home .footer .positioner .contacts .tel-mail-1 {
    margin-bottom: 22px;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  body.home .footer .positioner .contacts .address-2 {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  body.home .footer .positioner .contacts .tel-mail-2 {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }
}

@media only screen and (max-width: 600px) {
  body.home .section-title {
    text-align: center;
    font-size: 5rem;
  }
  body.home .header .layout-centered .header-title {
    font: 700 6rem/7.2rem 'Barlow';
  }
  body.home .main .about-us .layout-centered .features-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  body.home .main .about-us .layout-centered .features-list .item {
    width: 100%;
  }
  body.home .main .projects .positioner {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media only screen and (max-width: 480px) {
  body.home .main .about-us .layout-centered {
    padding-bottom: 110px;
  }
  body.home .main .projects {
    padding-top: 80px;
    padding-bottom: 130px;
  }
}

@media only screen and (max-width: 400px) {
  body.home .header .layout-centered .description::before, body.home .header .layout-centered .description::after {
    width: 60px;
  }
  body.home .header .layout-centered .description::before {
    left: -77px;
  }
  body.home .header .layout-centered .description::after {
    right: -77px;
  }
  body.home .header .layout-centered .header-title {
    font: 700 4rem/5rem 'Barlow';
  }
}

@media only screen and (max-width: 360px) {
  body.home .header .layout-centered .description::before, body.home .header .layout-centered .description::after {
    width: 50px;
  }
  body.home .header .layout-centered .description::before {
    left: -67px;
  }
  body.home .header .layout-centered .description::after {
    right: -67px;
  }
  body.home .main .about-us .layout-centered {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media only screen and (max-width: 320px) {
  body.home .header .layout-centered .description::before, body.home .header .layout-centered .description::after {
    display: none;
  }
}
/*# sourceMappingURL=home.css.map */