body.lets-talk {

    .header {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        color: #ffffff;
    }

    .contacts {
        height: 100vh;
        display: flex;
        align-items: center;
        position: relative;
        overflow: hidden;

        .positioner {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 1400px;
            margin: auto;

            .section-title {
                font: 600 5.39rem 'Barlow', sans-serif;
                color: #ff4652;
                margin-bottom: 75px;
            }

            .contacts-list {
                display: flex;
                width: 70%;
                align-items: center;
                align-self: center;
                margin-bottom: 80px;

                .person {
                    color: #ffffff;

                    .position {
                        font: 500 12px 'Barlow Semi Condensed';
                        text-transform: uppercase;
                        letter-spacing: 1.7px;
                        opacity: .45;
                        margin-bottom: 13px;
                    }

                    .name {
                        font: 400 2.8rem 'Barlow', sans-serif;
                        margin-bottom: 21px;
                    }

                    .mail {
                        font: 400 2rem 'Barlow', sans-serif;
                        text-decoration: underline;

                        &:hover {
                            text-decoration: none;
                        }
                    }
                }

                .person:nth-child(1),
                .person:nth-child(3) {
                    width: 30.29%;
                }

                .person:nth-child(2) {
                    width: 39.43%;
                    padding-left: 8%;
                    border-left: 1px solid rgba(255, 255, 255, .1);
                    border-right: 1px solid rgba(255, 255, 255, .1);
                }

                .person:nth-child(3) {
                    padding-left: 7.3%;
                }
            }

            .icon-down {
                color: #ffffff;
                font-size: 1.6rem;
            }
        }

        .video-bg {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            overflow: hidden;
            z-index: -1;

            &::after {
                content: '';
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background: black;
                opacity: 0.7;
            }

            .video {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }

    .location {
        padding-top: 210px;
        padding-bottom: 210px;

        .positioner {
            display: flex;
            flex-wrap: wrap;
            width: 1400px;
            padding: 0px 25px;
            margin: auto;

            .section-title {
                font-size: 5.3rem;
                width: 51.5%;
            }

            .info {
                display: flex;
                flex-direction: column;
                width: 23.5%;

                .title {
                    font: 400 2.8rem 'Barlow', sans-serif;
                    margin-bottom: 21px;
                }

                .address {
                    font: 400 1.6rem/3rem 'Barlow', sans-serif;
                    white-space: pre-line;
                    color: #444444;
                    margin-bottom: 17px;
                }

                .tel {
                    font: 400 2.4rem 'Barlow', sans-serif;
                }

                .mail {
                    font: 400 1.6rem 'Barlow', sans-serif;
                    text-decoration: underline;
                    color: #ff4652;
                    margin-bottom: 75px;

                    &:hover {
                        text-decoration: none;
                    }
                }
            }

            .info:nth-child(3) {
                padding-left: 2%;
            }

            .social-bar {
                display: flex;
                flex-direction: column;
                margin-left: auto;
                width: 48.5%;

                .title {
                    font: 500 1.2rem 'Barlow Semi Condensed';
                    text-transform: uppercase;
                    color: #aaaaaa;
                    margin-bottom: 30px;
                }

                .social-list {
                    display: flex;
                    font-size: 1.9rem;

                    .item {
                        margin-right: 30px;
                    }

                    .item:last-child {
                        margin-right: 0;
                    }
                }
            }
        }
    }

    .vacancies {
        padding-top: 270px;
        padding-bottom: 205px;
        background: #f8f8f8 url('../img/lets-talk-bg.jpg') 100% 100%/640px no-repeat fixed;

        .positioner {
            display: flex;
            flex-wrap: wrap;
            width: 1400px;
            padding: 0px 30px;
            margin: auto;

            .section-title {
                width: 100%;
                white-space: pre-line;
                font-size: 5.3rem;
                margin-bottom: 80px;
            }

            .col {
                width: 33.3%;

                .title {
                    font: 400 2.8rem 'Barlow', sans-serif;
                    color: #111111;
                    margin-bottom: 23px;
                }

                .description {
                    font: 400 1.6rem/2.6rem 'Barlow', sans-serif;
                    white-space: pre-line;
                    color: #444444;
                    margin-bottom: 40px;
                }

                .list-title {
                    font: 500 1.2rem 'Barlow Semi Condensed';
                    text-transform: uppercase;
                    letter-spacing: 1.2px;
                    color: #aaaaaa;
                    margin-bottom: 27px;
                }

                .list {
                    .item {
                        position: relative;
                        font: 400 1.6rem 'Barlow', sans-serif;
                        color: #444444;
                        margin-bottom: 18px;
                        padding-left: 8%;

                        &::before {
                            content: '';
                            position: absolute;
                            display: block;
                            top: 50%;
                            transform: translateY(-50%);
                            left: 2%;
                            width: 6px;
                            height: 6px;
                            border-radius: 50%;
                            border: 1px solid #3e3e3e;
                        }
                    }
                }
            }

            .col-2 {
                padding-left: 1.7%;
            }

            .col-3 {
                padding-left: 3.5%;
            }

            .subscription {
                display: flex;
                width: 100%;
                margin-top: 57px;
                padding-top: 72px;
                justify-content: space-between;
                align-items: center;
                border-top: 1px solid rgba(0,0,0, .25);

                .description {
                    font: 400 2.4rem/3.4rem 'Barlow', sans-serif;
                    white-space: pre-line;
                    color: #444444;
                }
            }
        }
    }
}

@media only screen and (max-width: 1400px) {
    body.lets-talk {
        .contacts {
            .positioner {
                width: 100%;

                .contacts-list {
                    width: 85%;
                }
            }
        }

        .location {
            .positioner {
                padding: 0px 35px;
                width: 100%;
            }
        }

        .vacancies {
            .positioner {
                width: 100%;
                padding: 0px 60px;
                justify-content: space-between;

                .col {
                    width: 29%;

                    .description {
                        white-space: normal;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 1100px) {
    body.lets-talk {
        .contacts {
            .positioner {
                .contacts-list {
                    width: 90%;
                }
            }
        }

        .location {
            padding-top: 110px;
            padding-bottom: 120px;

            .positioner {
                .section-title {
                    width: 100%;
                    text-align: center;
                    margin-bottom: 70px;
                }

                .info {
                    width: 50%;
                    text-align: center;
                }

                .info:nth-child(3) {
                    padding-left: 0;
                }

                .social-bar {
                    width: 100%;
                    align-items: center;
                }
            }
        }
    }
}

@media only screen and (max-width: 960px) {
    body.lets-talk {
        .contacts {
            height: auto;
            padding-top: 200px;
            padding-bottom: 120px;

            .positioner {
                .section-title {
                    margin-bottom: 15px;
                    font-size: 4.3rem;
                }

                .contacts-list {
                    flex-direction: column;
                    align-items: center;
                    width: 100%;
                    margin-bottom: 10px;

                    .person:nth-child(2) {
                        border-left: initial;
                        border-right: initial;
                        border-top: 1px solid rgba(255, 255, 255, .1);
                        border-bottom: 1px solid rgba(255, 255, 255, .1);
                    }

                    .person:nth-child(1),
                    .person:nth-child(2),
                    .person:nth-child(3) {
                        padding: 0;
                        padding-top: 40px;
                        padding-bottom: 40px;
                        width: 100%;
                        text-align: center;
                    }
                }
            }
        }

        .vacancies {
            .positioner {
                justify-content: center;

                .section-title {
                    white-space: normal;
                    text-align: center;
                }

                .col {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    width: 100%;
                    margin-bottom: 70px;

                    .title,
                    .description {
                        text-align: center;
                    }

                    .description {
                        margin-bottom: 35px;
                    }

                    .list-title {
                        text-align: center;
                    }
                }

                .col-2,
                .col-3 {
                    padding-left: 0;
                }
            }
        }
    }
}


@media only screen and (max-width: 768px) {
    body.lets-talk {
        .vacancies {
            padding-bottom: 150px;

            .positioner {
                .subscription {
                    margin-top: 0;
                    flex-direction: column;

                    .description {
                        white-space: normal;
                        text-align: center;
                        margin-bottom: 70px;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 600px) {
    body.lets-talk {
        .location {
            .positioner {
                .info {
                    width: 100%;
                }
            }
        }

        .vacancies {
            padding-top: 180px;
            padding-bottom: 160px;
        }
    }
}

@media only screen and (max-width: 480px) {
    body.lets-talk {
        .location {
            padding-top: 80px;
            padding-bottom: 90px;
        }

        .vacancies {
            padding-top: 120px;
            padding-bottom: 110px;

            .positioner {
                padding-left: 20px;
                padding-right: 20px;

                .section-title {
                    font-size: 4.5rem;
                }

                .subscription {
                    .description {
                        margin-bottom: 60px;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 380px) {
    body.lets-talk {
        .contacts {
            padding-top: 160px;
        }

        .location {
            padding-top: 60px;
        }

        .vacancies {
            .positioner {
                .subscription {
                    padding-top: 0;
                    border: none;

                }
            }
        }
    }
}