.our-clients {
  padding-top: 210px;
  padding-bottom: 195px;
  background: #ffffff;
}

.our-clients .our-clients-slider {
  display: none;
}

.our-clients .positioner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 1400px;
  padding: 0 25px;
  margin: auto;
}

.our-clients .positioner .section-title {
  width: 50%;
  word-spacing: 2.5px;
  letter-spacing: 1px;
  font-size: 5.3rem;
}

.our-clients .positioner .section-title .text {
  position: relative;
}

.our-clients .positioner .section-title .text::after, .our-clients .positioner .section-title .text::before {
  content: "";
  position: absolute;
  top: 50%;
  width: 80px;
  height: 2px;
  background: #f73a46;
}

.our-clients .positioner .section-title .text::before {
  display: none;
  left: -98px;
}

.our-clients .positioner .section-title .text::after {
  display: block;
  right: -98px;
}

.our-clients .positioner .description {
  width: 50%;
  margin-bottom: 165px;
  padding-left: 19px;
  white-space: pre-line;
  font: 400 1.6rem/2.6rem 'Barlow', sans-serif;
  color: #444444;
}

.our-clients .positioner .clients-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

.our-clients .positioner .clients-list .client {
  width: 20%;
  text-align: center;
}

.our-clients .positioner .clients-list .client .image {
  position: relative;
}

.our-clients .positioner .clients-list .client:nth-child(1) {
  margin-bottom: 85px;
}

.our-clients .positioner .clients-list .client:nth-child(1) .image {
  width: 90px;
  left: -27px;
}

.our-clients .positioner .clients-list .client:nth-child(2) .image {
  width: 115px;
  top: -9px;
  left: -11px;
}

.our-clients .positioner .clients-list .client:nth-child(3) .image {
  width: 125px;
  top: 5px;
  left: 3px;
}

.our-clients .positioner .clients-list .client:nth-child(4) .image {
  width: 125px;
  top: 5px;
  left: 15px;
}

.our-clients .positioner .clients-list .client:nth-child(5) .image {
  width: 105px;
  left: 27px;
}

.our-clients .positioner .clients-list .client:nth-child(6) {
  margin-bottom: 80px;
}

.our-clients .positioner .clients-list .client:nth-child(6) .image {
  width: 115px;
  top: 2px;
  left: -27px;
}

.our-clients .positioner .clients-list .client:nth-child(7) .image {
  width: 120px;
  left: -15px;
}

.our-clients .positioner .clients-list .client:nth-child(8) .image {
  width: 110px;
  top: 3px;
}

.our-clients .positioner .clients-list .client:nth-child(9) .image {
  width: 120px;
  left: 15px;
  top: 2px;
}

.our-clients .positioner .clients-list .client:nth-child(10) .image {
  width: 145px;
  left: 30px;
  top: -3px;
}

.our-clients .positioner .clients-list .client:nth-child(11) .image {
  width: 115px;
  left: -25px;
  top: -1px;
}

.our-clients .positioner .clients-list .client:nth-child(12) .image {
  width: 140px;
  left: -15px;
  top: -2px;
}

.our-clients .positioner .clients-list .client:nth-child(13) .image {
  width: 160px;
}

.our-clients .positioner .clients-list .client:nth-child(14) .image {
  width: 125px;
  left: 15px;
  top: -3px;
}

.our-clients .positioner .clients-list .client:nth-child(15) {
  margin-bottom: 294px;
}

.our-clients .positioner .clients-list .client:nth-child(15) .image {
  width: 145px;
  left: 30px;
  top: -1px;
}

.our-clients .positioner .clients-reviews {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
  color: #111111;
}

.our-clients .positioner .clients-reviews .title {
  width: 50%;
  font: 400 2.8rem 'Barlow', sans-serif;
}

.our-clients .positioner .clients-reviews .description {
  width: 50%;
  padding-top: 5px;
  margin-bottom: 13px;
  font: italic 400 2.4rem/3.4rem 'Barlow', sans-serif;
}

.our-clients .positioner .clients-reviews .author {
  width: 50%;
  padding-left: 25px;
  letter-spacing: 0px;
  font: italic 400 1.6rem 'Barlow', sans-serif;
  color: #444444;
}

@media only screen and (max-width: 1400px) {
  .our-clients .positioner {
    padding: 35px;
    width: 100%;
  }
}

@media only screen and (max-width: 1100px) {
  .our-clients .positioner .description {
    white-space: normal;
  }
}

@media only screen and (max-width: 1000px) {
  .our-clients .positioner .clients-list .client {
    width: 33.3%;
  }
  .our-clients .positioner .clients-list .client .image {
    position: static;
  }
  .our-clients .positioner .clients-list .client:nth-child(6),
  .our-clients .positioner .clients-list .client:nth-child(7),
  .our-clients .positioner .clients-list .client:nth-child(10) {
    margin-bottom: 85px;
  }
}

@media only screen and (max-width: 900px) {
  .our-clients {
    padding-top: 180px;
  }
  .our-clients .positioner .section-title {
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
  }
  .our-clients .positioner .section-title .text::before {
    display: block;
  }
  .our-clients .positioner .description {
    width: 100%;
    padding: 0;
    text-align: center;
  }
  .our-clients .positioner .clients-list .client:nth-child(15) {
    margin-bottom: 240px;
  }
  .our-clients .positioner .clients-reviews {
    text-align: center;
  }
  .our-clients .positioner .clients-reviews .title {
    width: 100%;
    margin-bottom: 20px;
  }
  .our-clients .positioner .clients-reviews .description {
    padding: 0;
    width: 100%;
  }
  .our-clients .positioner .clients-reviews .author {
    width: 100%;
    padding: 0;
  }
}

@media only screen and (max-width: 700px) {
  .our-clients {
    padding-top: 105px;
    padding-bottom: 100px;
  }
  .our-clients .positioner .clients-list .client:nth-child(15) {
    margin-bottom: 190px;
  }
}

@media only screen and (max-width: 600px) {
  .our-clients .positioner .description {
    margin-bottom: 100px;
  }
  .our-clients .positioner .our-clients-slider {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    margin-bottom: 150px;
  }
  .our-clients .positioner .our-clients-slider .swiper-slide {
    padding-left: 20px;
    padding-right: 20px;
    overflow: hidden;
  }
  .our-clients .positioner .our-clients-slider .swiper-slide .clients {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .our-clients .positioner .our-clients-slider .swiper-slide .clients .client {
    width: 50%;
    text-align: center;
  }
  .our-clients .positioner .our-clients-slider .swiper-slide .clients .client:nth-child(1) {
    margin-bottom: 40px;
  }
  .our-clients .positioner .our-clients-slider .swiper-pagination {
    position: absolute;
    bottom: -40px;
  }
  .our-clients .positioner .our-clients-slider .swiper-pagination .swiper-pagination-bullet {
    margin-right: 7px;
    padding: 3px;
    background: none;
    opacity: 0.3;
    background: #444444;
  }
  .our-clients .positioner .our-clients-slider .swiper-pagination .swiper-pagination-bullet-active {
    background: #af3840;
    opacity: 0.7;
  }
  .our-clients .positioner .clients-list {
    display: none;
  }
}

@media only screen and (max-width: 480px) {
  .our-clients {
    padding-top: 60px;
    padding-bottom: 70px;
  }
  .our-clients .positioner .section-title {
    font-size: 4rem;
  }
  .our-clients .positioner .section-title .text::before, .our-clients .positioner .section-title .text::after {
    width: 60px;
  }
  .our-clients .positioner .section-title .text::before {
    left: -78px;
  }
  .our-clients .positioner .section-title .text::after {
    right: -78px;
  }
  .our-clients .positioner .our-clients-slider {
    margin-bottom: 110px;
  }
  .our-clients .positioner .our-clients-slider .swiper-slide {
    padding: 0;
  }
  .our-clients .positioner .our-clients-slider .swiper-slide .clients .client {
    width: 100%;
    margin-bottom: 40px;
  }
  .our-clients .positioner .our-clients-slider .swiper-pagination {
    bottom: 15px;
  }
}

@media only screen and (max-width: 400px) {
  .our-clients .positioner .section-title .text::before, .our-clients .positioner .section-title .text::after {
    width: 40px;
  }
  .our-clients .positioner .section-title .text::before {
    left: -58px;
  }
  .our-clients .positioner .section-title .text::after {
    right: -58px;
  }
}

@media only screen and (max-width: 320px) {
  .our-clients .positioner .section-title .text::before, .our-clients .positioner .section-title .text::after {
    display: none;
  }
}
/*# sourceMappingURL=our-clients-section.css.map */