body.our-work .header .header-nav {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 5;
  color: #ffffff;
}

body.our-work .header .header-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 100%;
}

body.our-work .header .header-slider:hover .button-container {
  display: block;
}

body.our-work .header .header-slider .swiper-slide {
  overflow: hidden;
  color: #ffffff;
}

body.our-work .header .header-slider .swiper-slide .slide-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

body.our-work .header .header-slider .swiper-slide .positioner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 1400px;
  height: 100vh;
  padding: 379px 12px 377px 12px;
  margin: auto;
}

body.our-work .header .header-slider .swiper-slide .positioner .note {
  margin-bottom: 8px;
  font: 400 2.4rem 'Barlow', sans-serif;
}

body.our-work .header .header-slider .swiper-slide .positioner .header-title {
  font: 700 9.2rem 'Barlow', sans-serif;
  color: #ffffff;
  margin-bottom: 15px;
}

body.our-work .header .header-slider .swiper-slide .positioner .button {
  -ms-flex-item-align: start;
      align-self: flex-start;
  border-color: #ffffff;
  color: #ffffff;
}

body.our-work .header .header-slider .swiper-slide .positioner .button:hover {
  color: black;
  background: #ffffff;
}

body.our-work .header .header-slider .swiper-slide.slide-1 .slide-bg {
  background: url("../img/our-work-hero-slideshow-01.jpg") center/cover no-repeat;
}

body.our-work .header .header-slider .swiper-slide.slide-2 .slide-bg {
  background: url("../img/our-work-hero-slideshow-02.jpg") center/cover no-repeat;
}

body.our-work .header .header-slider .swiper-slide.slide-3 .slide-bg {
  background: url("../img/our-work-hero-slideshow-03.jpg") center/cover no-repeat;
}

body.our-work .header .header-slider .button-container {
  display: none;
  position: absolute;
  width: 55px;
  left: 30px;
  bottom: 70px;
}

body.our-work .header .header-slider .button-container .swiper-button-prev,
body.our-work .header .header-slider .button-container .swiper-button-next {
  width: 30px;
  height: 30px;
}

body.our-work .header .header-slider .button-container .swiper-button-prev:hover::after,
body.our-work .header .header-slider .button-container .swiper-button-next:hover::after {
  opacity: 1;
}

body.our-work .header .header-slider .button-container .swiper-button-prev::after,
body.our-work .header .header-slider .button-container .swiper-button-next::after {
  width: 15px;
  height: 15px;
  border-top: 2px solid #ffffff;
  border-right: 2px solid #ffffff;
  font-size: 0;
  opacity: .5;
  -webkit-transition: opacity .2s;
  transition: opacity .2s;
}

body.our-work .header .header-slider .button-container .swiper-button-prev {
  left: 0;
}

body.our-work .header .header-slider .button-container .swiper-button-prev::after {
  -webkit-transform: rotate(-140deg);
          transform: rotate(-140deg);
}

body.our-work .header .header-slider .button-container .swiper-button-next {
  right: 0;
}

body.our-work .header .header-slider .button-container .swiper-button-next::after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

body.our-work .header .header-slider .swiper-pagination {
  position: absolute;
  left: 50px;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  width: 10px;
}

body.our-work .header .header-slider .swiper-pagination .swiper-pagination-bullet {
  position: relative;
  top: 5px;
  pointer-events: auto;
  margin-bottom: 13px;
  padding: 5px;
  background: none;
  border: 1px solid gray;
}

body.our-work .header .header-slider .swiper-pagination .swiper-pagination-bullet:not(.swiper-pagination-bullet-active):hover {
  border-color: white;
  opacity: 0.5;
}

body.our-work .header .header-slider .swiper-pagination .swiper-pagination-bullet-active {
  border-color: #af3840;
}

@media only screen and (max-width: 1600px) {
  body.our-work .header .header-slider .swiper-slide .positioner {
    padding-left: 5%;
    padding-right: 5%;
  }
}

@media only screen and (max-width: 1600px) {
  body.our-work .header .header-slider .swiper-pagination {
    position: absolute;
    left: 0px;
    top: auto;
    bottom: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: auto;
    width: 100%;
  }
  body.our-work .header .header-slider .swiper-pagination .swiper-pagination-bullet {
    position: relative;
    top: 5px;
    pointer-events: auto;
    margin-right: 7px;
    padding: 5px;
    background: none;
    border: 1px solid gray;
  }
  body.our-work .header .header-slider .swiper-pagination .swiper-pagination-bullet:not(.swiper-pagination-bullet-active):hover {
    border-color: white;
    opacity: 0.5;
  }
  body.our-work .header .header-slider .swiper-pagination .swiper-pagination-bullet-active {
    border-color: #af3840;
  }
}

@media only screen and (max-width: 1400px) {
  body.our-work .header .header-slider .swiper-slide .positioner {
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
  }
}

@media only screen and (max-width: 1000px) {
  body.our-work .header .header-slider:hover .button-container {
    display: none;
  }
  body.our-work .header .header-slider .button-container {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  body.our-work .header .header-slider .swiper-slide .positioner {
    padding-left: 30px;
    padding-right: 30px;
  }
}
/*# sourceMappingURL=our-work.css.map */