.overlay-nav {
    display: none;
    position: fixed;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    //padding-top: 12.3%;
    background: #ffffff;
    font: 400 2.8rem 'Barlow', sans-serif;
    z-index: 1000;

    .close-overlay-nav {
        display: block;
        position: absolute;
        width: 30px;
        height: 30px;
        top: 20px;
        right: 20px;
        font-size: 1.6rem;
        color: #aaaaaa;
        opacity: 0.6;

        &:hover {
            opacity: 1;
        }
    }

    .menu {
        display: flex;
        text-align: center;

        .list {
            display: flex;
            flex-direction: column;

            .item {
                &:hover {
                    color: #ff3c48;
                }

                margin-bottom: 31px;
            }

            .item:nth-child(3) {
                margin-bottom: 27px;
            }

            .item:nth-child(4) {
                margin-bottom: 14px;
            }

            .item:nth-child(5) {
                margin-bottom: 26px;
            }

            .item:nth-child(4),
            .item:nth-child(5) {
                font-size: 1.6rem;
            }
        }
    }
}

.overlay-nav.open {
    display: flex;
}

.overlay-nav.fade-in {
    animation: 0.3s opacityIn;

    @keyframes opacityIn {
        0% {opacity: 0;}
        100% {opacity: 1;}
    }
}

.overlay-nav.fade-out {
    animation: 0.3s opacityOut;

    @keyframes opacityOut {
        0% {opacity: 1;}
        100% {opacity: 0;}
    }
}

@media only screen and (max-height: 600px) {
    .overlay-nav {
        align-items: flex-start;
        padding-top: 40px;
        padding-bottom: 10px;
        overflow-y: auto;
    }
}

@media only screen and (max-width: 480px) {
    .overlay-nav {
        .overlay-nav-wrapper {
            padding-top: 20%;
        }
    }
}