body.services .header {
  background: gray;
  background: url("../img/services-hero.jpg") 70% 63%/107% no-repeat;
  color: #ffffff;
  height: auto;
}

body.services .header .layout-centered {
  padding-bottom: 177px;
}

body.services .header .layout-centered .header-title {
  width: 50%;
  padding-top: 8.5%;
  padding-left: 9.6%;
}

body.services .header .layout-centered .description-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 31px;
  padding-top: 12.2%;
}

body.services .header .layout-centered .description-wrapper .description-title {
  -ms-flex-item-align: start;
      align-self: flex-start;
  position: relative;
  font: 500 1.2rem 'Barlow Semi Condensed', sans-serif;
  text-transform: uppercase;
  letter-spacing: 1.7px;
  margin-bottom: 21px;
}

body.services .header .layout-centered .description-wrapper .description-title::before, body.services .header .layout-centered .description-wrapper .description-title::after {
  content: '';
  display: block;
  position: absolute;
  width: 80px;
  height: 2px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background: #f73a46;
}

body.services .header .layout-centered .description-wrapper .description-title::before {
  display: none;
  left: -97px;
}

body.services .header .layout-centered .description-wrapper .description-title::after {
  right: -97px;
}

body.services .header .layout-centered .description-wrapper .description {
  font: 400 2.4rem/3.6rem 'Barlow', sans-serif;
  white-space: pre-line;
  opacity: 0.7;
}

body.services .our-services {
  padding-top: 275px;
  padding-bottom: 195px;
}

body.services .our-services .positioner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 1400px;
  padding-left: 26px;
  margin: auto;
}

body.services .our-services .positioner .section-title {
  padding-left: 44px;
  margin-bottom: 138px;
}

body.services .our-services .positioner .services-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

body.services .our-services .positioner .services-list .feature {
  width: 33.3%;
}

body.services .our-services .positioner .services-list .feature .title {
  position: relative;
  font: 400 2.8rem 'Barlow', sans-serif;
  margin-bottom: 20px;
  padding-left: 35px;
}

body.services .our-services .positioner .services-list .feature .title::before {
  content: "";
  position: absolute;
  left: 1px;
  top: 55%;
  -webkit-transform: translateY(-55%);
          transform: translateY(-55%);
  display: block;
  width: 17px;
  height: 2px;
  background: #ff3f4c;
}

body.services .our-services .positioner .services-list .feature .description {
  font: 400 1.6rem/2.8rem 'Barlow', sans-serif;
  white-space: pre-line;
}

body.services .our-services .positioner .services-list .feature:nth-child(1) {
  margin-bottom: 71px;
}

body.services .our-services .positioner .services-list .feature:nth-child(2),
body.services .our-services .positioner .services-list .feature:nth-child(5) {
  padding-left: 19px;
}

body.services .our-services .positioner .services-list .feature:nth-child(3),
body.services .our-services .positioner .services-list .feature:nth-child(6) {
  padding-left: 40px;
}

body.services .pricing {
  padding-top: 215px;
  background: #131313;
  color: #ffffff;
}

body.services .pricing .positioner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 1400px;
  padding: 0px 20px;
  margin: auto;
}

body.services .pricing .positioner .section-title {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-bottom: 28px;
  font-size: 5.3rem;
  color: #ffffff;
}

body.services .pricing .positioner .section-title::before, body.services .pricing .positioner .section-title::after {
  content: '';
  display: block;
  position: absolute;
  width: 80px;
  height: 2px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background: #f73a46;
}

body.services .pricing .positioner .section-title::before {
  display: none;
  left: -97px;
}

body.services .pricing .positioner .section-title::after {
  right: -97px;
}

body.services .pricing .positioner .pricing-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body.services .pricing .positioner .pricing-list .price-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 100%;
  padding-top: 52px;
  padding-bottom: 50px;
  border-bottom: 2px solid #2b2b2b;
}

body.services .pricing .positioner .pricing-list .price-item .description-wrapper {
  width: 50%;
}

body.services .pricing .positioner .pricing-list .price-item .description-wrapper .title {
  margin-bottom: 15px;
  font: 400 2.8rem 'Barlow', sans-serif;
}

body.services .pricing .positioner .pricing-list .price-item .description-wrapper .description {
  font: 400 1.6rem 'Barlow', sans-serif;
  opacity: 0.7;
}

body.services .pricing .positioner .pricing-list .price-item .price {
  width: 50%;
  position: relative;
  top: 10px;
  font: 600 5.3rem 'Barlow', sans-serif;
  letter-spacing: 1px;
  text-align: right;
}

body.services .pricing .positioner .pricing-list .price-item .price::before {
  content: "starting at";
  position: absolute;
  display: block;
  top: -20px;
  right: 0;
  font: 500 1.2rem 'Barlow', sans-serif;
  text-transform: uppercase;
  opacity: 0.7;
}

body.services .pricing .positioner .pricing-list .price-item .link {
  position: absolute;
  display: block;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font: 400 1.8rem 'Barlow Semi Condensed', sans-serif;
}

body.services .pricing .positioner .pricing-list .price-item .link::after {
  border-color: #ffffff;
  -webkit-transition-duration: .2s;
          transition-duration: .2s;
}

body.services .pricing .positioner .pricing-list .price-item .link:hover {
  opacity: 0.7;
}

body.services .message-us {
  background: #131313;
  color: #ffffff;
}

body.services .message-us .layout-centered {
  position: relative;
  padding: 267px 80px 275px 80px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body.services .message-us .layout-centered .section-title {
  font: 500 3.6rem 'Barlow', sans-serif;
  letter-spacing: 0px;
  color: #ffffff;
  margin-bottom: 23px;
}

body.services .message-us .layout-centered .description {
  font: 400 2rem/3rem 'Barlow', sans-serif;
  white-space: pre-line;
  opacity: 0.7;
}

body.services .message-us .layout-centered .link {
  position: absolute;
  top: 49%;
  right: 76px;
  -webkit-transform: translateY(-49%);
          transform: translateY(-49%);
  font: 600 5.39rem 'Barlow', sans-serif;
  text-decoration: underline;
  letter-spacing: 1px;
  -webkit-transition: .3s;
  transition: .3s;
}

body.services .message-us .layout-centered .link:hover {
  opacity: 0.6;
  text-decoration: none;
}

body.services .footer {
  padding-top: 70px;
  padding-bottom: 70px;
  background: #ffffff;
}

body.services .footer .positioner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 1400px;
  padding-left: 30px;
  padding-right: 10px;
  margin: auto;
}

body.services .footer .positioner .section-title {
  font: 500 2.8rem 'Barlow', sans-serif;
}

body.services .footer .positioner .button {
  margin-left: 60px;
}

body.services .footer .positioner .social-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body.services .footer .positioner .social-bar .item {
  font-size: 1.9rem;
  margin-right: 34px;
}

body.services .footer .positioner .social-bar .item:last-child {
  margin-right: 0;
}

@media only screen and (max-width: 1680px) {
  body.services .layout-centered {
    width: 100%;
  }
}

@media only screen and (max-width: 1500px) {
  body.services .header .layout-centered .header-title {
    padding-left: 6%;
  }
  body.services .header .layout-centered .description-wrapper {
    padding-right: 6%;
  }
  body.services .header .layout-centered .description-wrapper .description {
    white-space: normal;
  }
  body.services .footer .positioner {
    padding: 0px 30px;
  }
}

@media only screen and (max-width: 1450px) {
  body.services .our-services .positioner {
    width: 100%;
    padding: 0px 30px;
  }
  body.services .our-services .positioner .services-list .feature .description {
    white-space: normal;
    padding: 0px 20px;
  }
  body.services .pricing {
    padding-top: 200px;
    background: #131313;
    color: #ffffff;
  }
  body.services .pricing .positioner {
    width: 100%;
    padding: 0px 30px;
  }
  body.services .footer .positioner {
    width: auto;
  }
}

@media only screen and (max-width: 1400px) {
  body.services .header {
    background: url("../img/services-hero.jpg") 70% 63%/cover no-repeat;
  }
  body.services .header .layout-centered {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  body.services .header .layout-centered .header-title {
    padding-left: 5%;
    padding-right: 5%;
    margin-bottom: 50px;
  }
  body.services .header .layout-centered .description-wrapper {
    width: 100%;
    padding: 0 5%;
  }
  body.services .our-services {
    padding-top: 180px;
  }
}

@media only screen and (max-width: 1200px) {
  body.services .header .layout-centered .header-title {
    font-size: 7rem;
    line-height: 7.7rem;
  }
}

@media only screen and (max-width: 1000px) {
  body.services .our-services .positioner {
    padding: 0px 20px;
  }
  body.services .our-services .positioner .services-list .feature:nth-child(2),
  body.services .our-services .positioner .services-list .feature:nth-child(3),
  body.services .our-services .positioner .services-list .feature:nth-child(5),
  body.services .our-services .positioner .services-list .feature:nth-child(6) {
    padding: 0;
  }
  body.services .our-services .positioner .services-list .feature {
    width: 50%;
    padding: 0;
  }
  body.services .our-services .positioner .services-list .feature .description {
    padding: 0 10px 0 20px;
  }
  body.services .our-services .positioner .services-list .feature:nth-child(3) {
    margin-bottom: 71px;
  }
  body.services .pricing {
    padding-top: 150px;
  }
  body.services .message-us .layout-centered {
    padding: 100px 30px 90px 30px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  body.services .message-us .layout-centered .description {
    margin-bottom: 100px;
    white-space: normal;
  }
  body.services .message-us .layout-centered .link {
    position: static;
  }
}

@media only screen and (max-width: 950px) {
  body.services .header .layout-centered .header-title {
    padding-top: 11%;
    font-size: 5.9rem;
    line-height: 6.5rem;
  }
  body.services .our-services .positioner .section-title {
    font-size: 5rem;
  }
}

@media only screen and (max-width: 768px) {
  body.services .our-services {
    padding-top: 100px;
    padding-bottom: 60px;
  }
  body.services .our-services .positioner {
    padding: 0px 20px;
  }
  body.services .our-services .positioner .section-title {
    padding: 0;
    margin-bottom: 100px;
    text-align: center;
  }
  body.services .our-services .positioner .services-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body.services .our-services .positioner .services-list .feature {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    margin-bottom: 55px;
  }
  body.services .our-services .positioner .services-list .feature .title {
    text-align: center;
  }
  body.services .our-services .positioner .services-list .feature .description {
    width: 100%;
    text-align: center;
    padding: 0px 10px;
  }
  body.services .our-services .positioner .services-list .feature:nth-child(1),
  body.services .our-services .positioner .services-list .feature:nth-child(3) {
    margin-bottom: 55px;
  }
  body.services .pricing {
    padding-top: 100px;
  }
  body.services .footer {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  body.services .footer .positioner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body.services .footer .positioner .section-title {
    margin-bottom: 30px;
  }
  body.services .footer .positioner .button {
    margin: 0 0 30px 0;
  }
}

@media only screen and (max-width: 650px) {
  body.services .header .layout-centered {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body.services .header .layout-centered .header-title {
    width: 100%;
    padding-top: 120px;
    margin-bottom: 80px;
    text-align: center;
    white-space: normal;
  }
  body.services .header .layout-centered .description-wrapper .description-title {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  body.services .header .layout-centered .description-wrapper .description-title::before {
    display: block;
  }
  body.services .header .layout-centered .description-wrapper .description {
    text-align: center;
  }
}

@media only screen and (max-width: 550px) {
  body.services .pricing {
    padding-top: 50px;
  }
  body.services .pricing .positioner .section-title {
    margin-bottom: 0;
    text-align: center;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  body.services .pricing .positioner .section-title::before {
    display: block;
  }
  body.services .pricing .positioner .pricing-list .price-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body.services .pricing .positioner .pricing-list .price-item .description-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    margin-bottom: 45px;
  }
  body.services .pricing .positioner .pricing-list .price-item .description-wrapper .title {
    width: 100%;
    text-align: center;
  }
  body.services .pricing .positioner .pricing-list .price-item .description-wrapper .description {
    text-align: center;
  }
  body.services .pricing .positioner .pricing-list .price-item .price {
    left: 0;
    right: 0;
    top: 0;
    text-align: center;
    width: 100%;
    font-size: 4.3rem;
  }
  body.services .pricing .positioner .pricing-list .price-item .price::before {
    left: 50%;
    top: -15px;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
  }
  body.services .pricing .positioner .pricing-list .price-item .link {
    position: static;
  }
}

@media only screen and (max-width: 500px) {
  body.services .header .layout-centered {
    padding-bottom: 70px;
  }
  body.services .header .layout-centered .header-title {
    padding-top: 65px;
    margin-bottom: 50px;
    font-size: 4.0rem;
    line-height: 5rem;
  }
  body.services .our-services {
    padding-top: 80px;
  }
  body.services .our-services .positioner .section-title {
    margin-bottom: 90px;
  }
}

@media only screen and (max-width: 380px) {
  body.services .pricing .positioner .section-title::before, body.services .pricing .positioner .section-title::after {
    content: '';
    width: 60px;
  }
  body.services .pricing .positioner .section-title::before {
    left: -77px;
  }
  body.services .pricing .positioner .section-title::after {
    right: -77px;
  }
  body.services .message-us .layout-centered {
    padding: 50px 30px 50px 30px;
  }
}

@media only screen and (max-width: 340px) {
  body.services .our-services {
    padding-top: 50px;
  }
  body.services .our-services .positioner .section-title {
    margin-bottom: 60px;
  }
  body.services .pricing .positioner .section-title::before, body.services .pricing .positioner .section-title::after {
    content: '';
    width: 40px;
  }
  body.services .pricing .positioner .section-title::before {
    left: -57px;
  }
  body.services .pricing .positioner .section-title::after {
    right: -57px;
  }
}
/*# sourceMappingURL=services.css.map */