* {
    box-sizing: border-box;
    line-height: 1;
}

*::selection {
    background: #ff434c;
}

:root {
    font-size: 10px;
}

button {
    outline: none;
    border: none;
    background: transparent;
    color: #ffffff;
    font-size: 1.6rem;
    padding: 0;
}

.button {
    position: relative;
    padding: 10px 22px;
    border: 1px solid black;
    font: 400 1.6rem 'Barlow Semi Condensed', sans-serif;
    font-stretch: 100%;
    color: #111111;
    transition: ease-out .4s;
}

.button.slide_right:hover {
    box-shadow: inset 123px 0 0 0 black;
    color: #ffffff;
}

.link.from_left {
    position: relative;
    display: flex;

    &::after {
        content: "";
        position: absolute;
        display: block;
        bottom: -6px;
        left: 0;
        width: 100%;
        border-bottom: 1px solid #bb2d35;
        transform: scaleX(0);
        transform-origin: 0% 50%;
        transition: transform .1s ease-in-out;
        opacity: 1;
    }

    &:hover::after {
        transform: scaleX(1);
    }
}

.link.active {
    position: relative;
    display: flex;
    opacity: 1;

    &::after {
        content: "";
        position: absolute;
        display: block;
        bottom: -7px;
        left: 0;
        width: 100%;
        border-bottom: 1px solid #bb2d35;
    }
}

.page {
    overflow: hidden;
}

.layout-centered {
    display: flex;
    width: 1680px;
    margin: auto;
}

.section-title {
    letter-spacing: 0.5px;
    font: 600 7rem 'Barlow', sans-serif;
    color: #111111;
}

.scroll-opacity.is-visible {
    opacity: 1 !important;
}

.overlay-nav {
    display: none;
    position: fixed;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    //padding-top: 12.3%;
    background: #ffffff;
    font: 400 2.8rem 'Barlow', sans-serif;
    z-index: 1000;

    .close-overlay-nav {
        display: block;
        position: absolute;
        width: 30px;
        height: 30px;
        top: 20px;
        right: 20px;
        font-size: 1.6rem;
        color: red;
    }

    .menu {
        display: flex;
        text-align: center;

        .list {
            display: flex;
            flex-direction: column;

            .item {
                &:hover {
                    color: #ff3c48;
                }

                margin-bottom: 31px;
            }

            .item:nth-child(3) {
                margin-bottom: 27px;
            }

            .item:nth-child(4) {
                margin-bottom: 14px;
            }

            .item:nth-child(5) {
                margin-bottom: 26px;
            }

            .item:nth-child(4),
            .item:nth-child(5) {
                font-size: 1.6rem;
            }
        }
    }
}

.overlay-nav.open {
    display: flex;
}

.overlay-nav.fade-in {
    animation: 0.3s opacityIn;

    @keyframes opacityIn {
        0% {opacity: 0;}
        100% {opacity: 1;}
    }
}

.overlay-nav.fade-out {
    animation: 0.3s opacityOut;

    @keyframes opacityOut {
        0% {opacity: 1;}
        100% {opacity: 0;}
    }
}

.sticky-nav {
    display: flex;
    position: fixed;
    height: 80px;
    top: -85px;
    right: 0;
    left: 0;
    background: #ffffff;
    transition: top .4s;
    z-index: 900;
    
    .positioner {
        display: flex;
        position: relative;
        justify-content: space-between;
        align-items: center;
        padding: 0 48px;
        width: 1680px;
        margin: auto;

        .open-overlay-nav {
            display: none;
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            font-size: 3.3rem;
            color: #444444;
        }

        .logo {
            display: flex;
            font: 400 2.8rem 'Barlow', sans-serif;
            z-index: 1;
        }

        .menu {
            display: flex;

            .list {
                display: flex;
                font: 400 1.6rem 'Barlow Semi Condensed', sans-serif;
                z-index: 1;

                .item {
                    margin-left: 33px;
                    
                    .link {
                        opacity: 0.85;
                        transition: .3s;
                        color: #444444;
                    }

                    .link:hover {
                        opacity: 1;
                    }
    
                    .link.active {
                        opacity: 1;
                    }
                }
            }
        }
    }
    
}

.sticky-nav.scroll {
    top: 0;
}

.header {
    width: 100%;
    height: 98vh;
    background: url('../img/home-hero-2560w.jpg') 38% 52%/105% no-repeat;
    background-position-x: 38%;
    background-position-y: 52%;
    overflow: hidden;
    color: #ffffff;

    .header-nav {
        display: flex;
        flex-direction: column;

        .positioner {
            display: flex;
            justify-content: space-between;
            padding: 30px 48px 0;
            width: 1680px;
            margin: auto;

            .open-overlay-nav {
                display: none;
                position: absolute;
                left: 0;
                top: -7px;
                font-size: 3.3rem;
                color: #444444;
                z-index: 1;
            }

            .logo {
                display: flex;
                font: 400 2.8rem 'Barlow', sans-serif;
                z-index: 1;
            }

            .menu {
                display: flex;

                .list {
                    display: flex;
                    padding-top: 10px;
                    font: 400 1.6rem 'Barlow Semi Condensed', sans-serif;
                    z-index: 1;

                    .item {
                        margin-left: 33px;
                        
                        .link {
                            opacity: 0.7;
                            transition: .3s;
                        }

                        .link.active {
                            opacity: 1;
                        }

                        .link:hover {
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }

    .layout-centered {
        position: relative;
        top: -7%;
        flex-direction: column;
        padding: 0 10.6%;
        justify-content: center;
        height: 100%;

        .svg-square-1 {
            position: absolute;
            display: flex;
            width: 400px;
            height: 400px;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        .description {
            align-self: flex-start;;
            position: relative;
            font: 500 1.2rem 'Barlow Semi Condensed', sans-serif;
            text-transform: uppercase;
            letter-spacing: 1.7px;
            margin-bottom: 10px;

            &::before,
            &::after {
                content: '';
                display: block;
                position: absolute;
                width: 80px;
                height: 2px;
                top: 50%;
                transform: translateY(-50%);
                background: #f73a46;
            }

            &::before {
                display: none;
                left: -97px;
            }

            &::after {
                right: -97px;
            }
        }

        .header-title {
            font: 700 9.2rem/10.12rem 'Barlow';
            white-space: pre-line;
            text-transform: uppercase;
            letter-spacing: 2px;
            margin-bottom: 30px;
        }

        .icon-down {
            color: #fcfcfc;
            font-size: 1.6rem;
            margin-left: 4px;
        }
    }
}


.main {
    .about-us {
        opacity: 0;
        transition: opacity 1.5s;
        background: url(../img/home-about-bg.svg) 18% 58%/ 50% no-repeat,
                    url(../img/home-about-device.jpg) 77% 307px/27% no-repeat,
                    url(../img/home-about-texture.svg) 77% 90%/30% no-repeat;

        .layout-centered {
            flex-direction: column;
            padding-top: 510px;
            padding-left: 165px;
            padding-bottom: 492px;

            .section-title {
                margin-bottom: 14px;
            }

            .description {
                margin-bottom: 46px;
                letter-spacing: -0.1px;
                white-space: pre-line;
                font: 400 1.6rem/2.8rem 'Barlow', sans-serif;
                color: #444444;
            }

            .features-list {
                display: flex;
                flex-wrap: wrap;
                width: 45%;
                font: 400 2rem/3rem 'Barlow', sans-serif;
                color: #111111;

                .item {
                    width: 50%;
                    margin-bottom: 10px;
                }

                .item:last-child {
                    margin-bottom: 48px;
                }
            }

            .button {
                align-self: flex-start;
            }
            
        }
    }

    .projects {
        position: relative;
        padding-top: 205px;
        padding-bottom: 247px;
        background: #131313;

        .positioner {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 1400px;
            padding: 0 25px;
            margin: 0 auto 134px auto;

            .section-title {
                color: #ffffff;
            }

            .button {
                color: #ffffff;
                border-color: #ffffff;
                z-index: 1;
            }

            .button:hover {
                background: #ffffff;
                color: #000000;
            }
        }

        .projects-slider {
            position: relative;
            display: flex;
            width: 100%;

            .swiper-slide {
                position: relative;
                overflow: hidden;

                .image {
                    
                    source,
                    img {
                        width: 100%;
                    }
                }

                .overflow {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background: rgba(10,10,10, .65);
                    opacity: 0;
                    transition: opacity .3s;
                    color: #ffffff;

                    .title,
                    .description {
                        transition: opacity 0.6s, transform 0.6s;
                    }

                    .title {
                        margin-bottom: 15px;
                        font: 500 3.6rem 'Barlow', sans-serif;
                        opacity: 0;
                    }

                    .description {
                        margin-top: 15px;
                        font: 400 1.6rem 'Barlow', sans-serif;
                        opacity: 0;
                    }
                }

                .overflow:hover {
                    opacity: 1;

                    .title,
                    .description {
                        opacity: 1;
                    }

                    .title {
                        transform: translateY(10px);
                    }

                    .description {
                        transform: translateY(-14px);
                    }
                }
            }

            .swiper-button-prev,
            .swiper-button-next {
                font-size: 2.2rem;
                color: #ffffff;
                opacity: 0;
                transition: opacity 0.3s;

                &::after {
                    display: none;
                }
            }

            .swiper-pagination {
                position: absolute;
                left: 0;
                bottom: -44px;

                .swiper-pagination-bullet {
                    margin-right: 7px;
                    padding: 5px;
                    background: none;
                    border: 1px solid gray;
                }

                .swiper-pagination-bullet:not(.swiper-pagination-bullet-active):hover {
                    border-color: white;
                    opacity: 0.5;
                }

                .swiper-pagination-bullet-active {
                    border-color: #af3840;
                }
            }
        }

        .projects-slider:hover {
            .swiper-button-prev,
            .swiper-button-next {
                opacity: 0.7;
            }
        }

        .svg-square-2 {
            position: absolute;
            top: 12.4%;
            left: 77.1%;
            width: 531px;
            height: 844px;
        }
    }

    .our-clients {
        padding-top: 210px;
        padding-bottom: 195px;

        .our-clients-slider {
            display: none;
        }

        .positioner {
            display: flex;
            flex-wrap: wrap;
            width: 1400px;
            padding: 0 25px;
            margin: auto;

            .section-title {
                width: 50%;
                word-spacing: 2.5px;
                letter-spacing: 1px;
                font-size: 5.3rem;

                .text {
                    position: relative;

                    &::after,
                    &::before {
                        content: "";
                        position: absolute;
                        top: 50%;
                        width: 80px;
                        height: 2px;
                        background: #f73a46;
                    }

                    &::before {
                        display: none;
                        left: -98px;
                    }

                    &::after {
                        display: block;
                        right: -98px;
                    }
                }
            }

            .description {
                width: 50%;
                margin-bottom: 165px;
                padding-left: 19px;
                white-space: pre-line;
                font: 400 1.6rem/2.6rem 'Barlow', sans-serif;
                color: #444444;
            }

            .clients-list {
                display: flex;
                flex-wrap: wrap;
                width: 100%;

                .client {
                    width: 20%;
                    text-align: center;

                    .image {
                        position: relative;
                    }
                }

                .client:nth-child(1) {
                    .image {
                        width: 90px;
                        left: -27px;
                    }
                    margin-bottom: 85px;
                }

                .client:nth-child(2) {
                    .image {
                        width: 115px;
                        top: -9px;
                        left: -11px;
                    }
                }

                .client:nth-child(3) {
                    .image {
                        width: 125px;
                        top: 5px;
                        left: 3px;
                    }
                }

                .client:nth-child(4) {
                    .image {
                        width: 125px;
                        top: 5px;
                        left: 15px;
                    }
                }

                .client:nth-child(5) {
                    .image {
                        width: 105px;
                        left: 27px;
                    }
                }

                .client:nth-child(6) {
                    margin-bottom: 80px;

                    .image {
                        width: 115px;
                        top: 2px;
                        left: -27px;
                    }
                }

                .client:nth-child(7) {
                    .image {
                        width: 120px;
                        left: -15px;
                    }
                }

                .client:nth-child(8) {
                    .image {
                        width: 110px;
                        top: 3px;
                    }
                }

                .client:nth-child(9) {
                    .image {
                        width: 120px;
                        left: 15px;
                        top: 2px;
                    }
                }

                .client:nth-child(10) {
                    .image {
                        width: 145px;
                        left: 30px;
                        top: -3px;
                    }
                }

                .client:nth-child(11) {
                    .image {
                        width: 115px;
                        left: -25px;
                        top: -1px;
                    }
                }

                .client:nth-child(12) {
                    .image {
                        width: 140px;
                        left: -15px;
                        top: -2px;
                    }
                }

                .client:nth-child(13) {
                    .image {
                        width: 160px;
                    }
                }

                .client:nth-child(14) {
                    .image {
                        width: 125px;
                        left: 15px;
                        top: -3px;
                    }
                }

                .client:nth-child(15) {
                    margin-bottom: 294px;

                    .image {
                        width: 145px;
                        left: 30px;
                        top: -1px;
                    }
                }
            }

            .clients-reviews {
                display: flex;
                flex-wrap: wrap;
                justify-content: flex-end;
                width: 100%;
                color: #111111;

                .title {
                    width: 50%;
                    font: 400 2.8rem 'Barlow', sans-serif;
                }

                .description {
                    width: 50%;
                    padding-top: 5px;
                    margin-bottom: 13px;
                    font: italic 400 2.4rem/3.4rem 'Barlow', sans-serif;
                }

                .author {
                    width: 50%;
                    padding-left: 25px;
                    letter-spacing: 0px;
                    font: italic 400 1.6rem 'Barlow', sans-serif;
                    color: #444444;
                }
            }
        }
    }
}

.footer {
    padding-top: 260px;
    padding-bottom: 205px;
    background: url('../img/home-contact-texture.svg') 27.14% 41%/390px 272px no-repeat, 
                linear-gradient(5deg,#1e1e1e 0,#111111 100%);
    color: #ffffff;

    .positioner {
        display: flex;
        flex-wrap: wrap;
        width: 1400px;
        padding: 0 25px;
        margin: auto;

        .section-title {
            width: 50%;
            padding-top: 17px;
            padding-left: 40px;
            color: #ffffff;
            line-height: 1.1;
            
            .link {
                white-space: pre-line;
                text-decoration: solid underline;
                transition: opacity .3s;

                &:hover {
                    opacity: 0.5;
                }
            }
        }

        .contacts {
            display: flex;
            flex-wrap: wrap;
            width: 50%;
            margin-bottom: 127px;
            padding-left: 20px;

            .address {
                display: flex;
                flex-direction: column;
                width: 50%;
                margin-bottom: 22px;

                .title {
                    margin-bottom: 20px;
                    font: 400 2.8rem 'Barlow', sans-serif;
                }
                .description {
                    opacity: 0.7;
                    white-space: pre-line;
                    font: 400 1.6rem/2.7rem 'Barlow', sans-serif;
                }
            }

            .address-2 {
                padding-left: 20px;
            }

            .tel-mail {
                display: flex;
                flex-direction: column;
                width: 50%;

                .tel {
                    margin-bottom: 5px;
                    font: 400 2.4rem 'Barlow', sans-serif;
                }

                .mail {
                    align-self: flex-start;
                    font: 400 1.6rem 'Barlow', sans-serif;
                    text-decoration: underline;
                    transition: opacity .3s;

                    &:hover {
                        opacity: 0.5;
                    }
                }
            }

            .tel-mail-2 {
                padding-left: 20px;
            }
        }

        .note {
            width: 50%;
            transition: .3s;

            .title {
                font: 400 2.4rem 'Barlow', sans-serif;
            }

            .definition {
                font: 400 1.6rem 'Barlow', sans-serif;
                opacity: 0.7;
            }
        }

        .social-bar {
            display: flex;
            flex-direction: row;
            font-size: 1.9rem;
            width: 50%;
            padding-top: 8px;
            padding-left: 32px;

            .item {
                margin-right: 33px;
                transition: opacity .3s;
            }

            .item:hover {
                opacity: 0.5;
            }
        }
    }
}

@media only screen and (min-height: 1000px) {
    .header {
        background: url('../img/home-hero-2560w.jpg') center/cover no-repeat;
    }
}

@media only screen and (max-width: 1680px) {
    .layout-centered {
        width: 100%;
    }
    .header {
        .header-nav {
            .positioner {
                width: 100%;
                margin: 0;
            }
        }
    }
}

@media only screen and (max-width: 1650px) {
    .header {
        background: url('../img/home-hero-2560w.jpg') center/cover no-repeat;
    }
}

@media only screen and (max-width: 1500px) {
    .main {
        .about-us {
            background: url(../img/home-about-bg.svg) 18% 58%/ 50% no-repeat,
                    url(../img/home-about-device.jpg) 77% 250px/27% no-repeat,
                    url(../img/home-about-texture.svg) 77% 90%/30% no-repeat;

            .layout-centered {
                padding-top: 350px;  
            }
        }
    }
}

@media only screen and (max-width: 1400px) {
    .main {
        .projects {
            .positioner {
                width: 100%;
                padding: 0 35px;
            }
        }

        .our-clients {
            .positioner {
                padding: 35px;
                width: 100%;
            }
        }
    }

    .footer {
        .positioner {
            width: 100%;
            padding: 0 35px;
        }
    }
}

@media only screen and (max-width: 1300px) {
    .main {
        .about-us {
            background: url(../img/home-about-bg.svg) 18% 58%/ 50% no-repeat,
                    url(../img/home-about-device.jpg) 85% 250px/27% no-repeat,
                    url(../img/home-about-texture.svg) 77% 90%/30% no-repeat;

            .layout-centered {
                padding-left: 110px; 
                
                .features-list {
                    .item:nth-child(1),
                    .item:nth-child(3),
                    .item:nth-child(5) {
                        padding-right: 15px;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 1200px) {
    .sticky-nav {
        height: 70px;

        .positioner {
            justify-content: center;

            .open-overlay-nav {
                display: block;
            }

            .logo {
                margin: 0 auto;
                font-size: 1.8rem;
                font-weight: 700;
            }

            .menu {
                display: none;
            }
        }
    }
    
    .header {
        background: url('../img/home-hero-2560w.jpg') 70% 0/cover no-repeat;

        .header-nav {
            height: 70px;
            justify-content: center;
            background: #ffffff;
            color: #444444;

            .positioner {
                position: relative;
                padding: 0px 20px 0;
                justify-content: flex-start;

                .open-overlay-nav {
                    display: flex;
                }

                .logo {
                    margin: 0 auto;
                    font-size: 1.8rem;
                    font-weight: 700;
                }

                .menu {
                    display: none;
                }
            }
        }

        .layout-centered {
            .header-title {
                font: 700 7rem/7.2rem 'Barlow';
                white-space: normal;
            }
        }
    }

    .main {
        .about-us {
            background: url(../img/home-about-bg.svg) 18% 58%/ 50% no-repeat,
                    url(../img/home-about-device.jpg) 85% 300px/27% no-repeat,
                    url(../img/home-about-texture.svg) 77% 90%/30% no-repeat;
            
            .layout-centered {
                padding-bottom: 340px;
            }
        }
    }
}

@media only screen and (max-width: 1100px) {
    .main {
        .about-us {
            background: url(../img/home-about-bg.svg) 18% 58%/ 50% no-repeat,
                    url(../img/home-about-device.jpg) 90% 250px/27% no-repeat,
                    url(../img/home-about-texture.svg) 77% 90%/30% no-repeat;

            .layout-centered {
                padding-top: 320px;
            }
        }

        .our-clients {
            .positioner {
                .description {
                    white-space: normal;
                }
            }
        }
    }
}

@media only screen and (max-width: 1000px) {
    .main {
        .about-us {
            background: url(../img/home-about-bg.svg) 18% 58%/ 50% no-repeat,
                    url(../img/home-about-device.jpg) 95% 250px/27% no-repeat,
                    url(../img/home-about-texture.svg) 77% 90%/30% no-repeat;

            .layout-centered {
                padding-left: 70px;
                padding-top: 320px;
            }
        }

        .projects {
            padding-top: 170px;
            padding-bottom: 225px;
        }

        .our-clients {
            .positioner {
                .clients-list {
                    .client {
                        width: 33.3%;

                        .image {
                            position: static;
                        }
                    }

                    .client:nth-child(6),
                    .client:nth-child(7),
                    .client:nth-child(10) {
                        margin-bottom: 85px;
                    }
                }
            }
        }
    }

    .footer {
        padding-top: 170px;
        padding-bottom: 140px;
        background: linear-gradient(5deg,#1e1e1e 0,#111111 100%);

        .positioner {
            flex-direction: column;

            .section-title {
                margin-bottom: 80px;
                padding: 20px 0;
                width: 100%;
                font-size: 5rem;
                text-align: center;
                background: url('../img/home-contact-texture.svg') center no-repeat;

                .link {
                    white-space: normal;
                }
            }

            .contacts {
                width: auto;
                padding: 0;
                margin: 0 auto 55px auto;
                text-align: center;
                
                .address-2 {
                    padding: 0;
                }

                .tel-mail {
                    
                    .mail {
                        align-self: stretch;
                    }
                }

                .tel-mail-2 {
                    padding: 0;
                }
            }
    
            .note {
                width: auto;
                text-align: center;
                order: 1;
            }
    
            .social-bar {
                margin: 0 auto 40px auto;
                width: auto;
                padding: 0;
                
                .item {
                    margin-right: 20px;
                }
            }
        }
    }
}

@media only screen and (max-width: 900px) {
    
    .section-title {
        font-size: 5.5rem;
    }

    .main {
        .about-us {
            background: url(../img/home-about-device.jpg) 50% 100px/400px no-repeat;        

            .layout-centered {
                padding-left: 50px;
                padding-right: 50px;
                padding-top: 720px;
                padding-bottom: 220px;
                text-align: center;

                .section-title {
                    margin-bottom: 20px;
                }

                .description {
                    margin-bottom: 40px;
                    white-space: normal;
                }

                .features-list {
                    width: 100%;
                }

                .button {
                    align-self: center;
                }
            }
        }

        .our-clients {
            padding-top: 180px;

            .positioner {
                .section-title {
                    width: 100%;
                    margin-bottom: 20px;
                    text-align: center;

                    .text {
                        &::before {
                            display: block;
                        }
                    }
                }

                .description {
                    width: 100%;
                    padding: 0;
                    text-align: center;
                }

                .clients-list {
                    .client:nth-child(15) {
                        margin-bottom: 240px;
                    }
                }

                .clients-reviews {
                    text-align: center;

                    .title {
                        width: 100%;
                        margin-bottom: 20px;
                    }

                    .description {
                        padding: 0;
                        width: 100%;
                    }

                    .author {
                        width: 100%;
                        padding: 0;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 800px) {
    .header {

        .layout-centered {
            .description {
                align-self: center;

                &:before {
                    display: block;
                }
            }

            .header-title {
                text-align: center;
            }

            .icon-down {
                align-self: center;
                margin-left: 0;
            }
        }
    }

    .main {
        .about-us {
            .layout-centered {
                padding-bottom: 180px;
            }
        }

        .projects {
            padding-top: 150px;
            padding-bottom: 210px;
        }
        
    }
}

@media only screen and (max-width: 768px) {
    .footer {
        padding-top: 135px;
        padding-bottom: 115px;
    }
}

@media only screen and (max-width: 700px) {
    .main {
        .about-us {     
            .layout-centered {
                padding-left: 30px;
                padding-right: 30px;
            }
        }

        .projects {
            padding-top: 105px;
            padding-bottom: 170px;

            .positioner {
                flex-direction: column;

                .section-title {
                    margin-bottom: 30px;
                }
            }

            .projects-slider {
                .swiper-button-prev,
                .swiper-button-next {
                    display: none;
                }
            }

            .svg-square-2 {
                top: 17%;
            }
        }

        .our-clients {
            padding-top: 105px;
            padding-bottom: 100px;

            .positioner {
                .clients-list {
                    .client:nth-child(15) {
                        margin-bottom: 190px;
                    }
                }
            }
        }
    }
}

@media only screen and (max-height: 640px) {
    .header {
        .layout-centered {
            top: -3%;
        }
    }
}

@media only screen and (max-width: 640px) {
    .footer {
        .positioner {
            .contacts {
                margin-bottom: 65px;
                
                .address,
                .tel-mail {
                    width: 100%;
                }

                .addres-1 {
                    order: 1;
                }

                .tel-mail-1 {
                    margin-bottom: 22px;
                    order: 2;
                }

                .address-2 {
                    order: 3;
                }

                .tel-mail-2 {
                    order: 4;
                }
            }
        }
    }
}

@media only screen and (max-height: 600px) {
    .overlay-nav {
        align-items: flex-start;
        padding-top: 40px;
        padding-bottom: 10px;
        overflow-y: auto;
    }
}

@media only screen and (max-width: 600px) {

    .section-title {
        text-align: center;
        font-size: 5rem;
    }

    .header {
        .layout-centered {
            .header-title {
                font: 700 6rem/7.2rem 'Barlow';
            }
        }
    }

    .main {
        .about-us {      
            .layout-centered {
                .features-list {
                    flex-direction: column;
                    flex-wrap: nowrap;

                    .item {
                        width: 100%;
                    }
                }
            }
        }

        .projects {
            .positioner {
                padding-left: 10px;
                padding-right: 10px;
            }
        }

        .our-clients {
            .positioner {

                .description {
                    margin-bottom: 100px;
                }

                .our-clients-slider {
                    position: relative;
                    display: flex;
                    width: 100%;
                    margin-bottom: 150px;

                    .swiper-slide {
                        padding-left: 20px;
                        padding-right: 20px;
                        overflow: hidden;
                        
                        .clients {
                            display: flex;
                            flex-wrap: wrap;

                            .client {
                                width: 50%;
                                text-align: center;
                            }

                            .client:nth-child(1) {
                                margin-bottom: 40px;
                            }
                        }
                    }

                    .swiper-pagination {
                        position: absolute;
                        bottom: -40px;

                        .swiper-pagination-bullet {
                            margin-right: 7px;
                            padding: 3px;
                            background: none;
                            opacity: 0.3;
                            background: #444444;
                        }

                        .swiper-pagination-bullet-active {
                            background: #af3840;
                            opacity: 0.7;
                        }
                    }
                }

                .clients-list {
                    display: none;
                }
            }
        }
    }
}

@media only screen and (max-width: 480px) {
    .overlay-nav {
        .overlay-nav-wrapper {
            padding-top: 20%;
        }
    }

    .sticky-nav {
        height: 60px;
    }

    .header {
        .header-nav {
            height: 60px;
        }
    }

    .main {
        .about-us {
            .layout-centered {
                padding-bottom: 110px;
            }
        }

        .projects {
            padding-top: 80px;
            padding-bottom: 130px;
        }

        .our-clients {
            padding-top: 60px;
            padding-bottom: 70px;

            .positioner {
                .section-title {
                    font-size: 4rem;

                    .text {
                        &::before,
                        &::after {
                            width: 60px;
                        }

                        &::before {
                            left: -78px;
                        }

                        &::after {
                            right: -78px;
                        }
                    }
                }

                .our-clients-slider {
                    margin-bottom: 110px;

                    .swiper-slide {
                        padding: 0;

                        .clients {
                            .client {
                                width: 100%;
                                margin-bottom: 40px;
                            }
                        }
                    }

                    .swiper-pagination {
                        bottom: 15px;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 400px) {
    .header {
        .layout-centered {
            .description {
                &::before,
                &::after {
                    width: 60px;
                }

                &::before {
                    left: -77px;
                }
    
                &::after {
                    right: -77px;
                }
            }

            .header-title {
                font: 700 4rem/5rem 'Barlow';
            }
        }
    }

    .main {
        .our-clients {
            .positioner {
                .section-title {
                    .text {
                        &::before,
                        &::after {
                            width: 40px;
                        }

                        &::before {
                            left: -58px;
                        }

                        &::after {
                            right: -58px;
                        }
                    }
                }
            }
        }
    }
    
}


@media only screen and (max-width: 360px) {

    .sticky-nav {
        height: 50px;
    }

    .header {
        .header-nav {
            height: 50px;
        }

        .layout-centered {
            .description {
                &::before,
                &::after {
                    width: 50px;
                }

                &::before {
                    left: -67px;
                }
    
                &::after {
                    right: -67px;
                }
            }
        }
    }

    .main {
        .about-us {
            .layout-centered {
                padding-left: 20px;
                padding-right: 20px;
            }
        }
    }
}

@media only screen and (max-width: 320px) { 
    .header {
        .layout-centered {
            .description {
                &::before,
                &::after {
                    display: none;
                }
            }
        }
    }

    .main {
        .our-clients {
            .positioner {
                .section-title {
                    .text {
                        &::before,
                        &::after {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}
