@import 'overlay-nav.scss';
@import 'header-nav.scss';
@import 'sticky-nav.scss';
@import 'buttons.scss';
@import 'preloader.scss';
@import 'home.scss';
@import 'services.scss';
@import 'our-work.scss';
@import 'about-us.scss';
@import 'our-clients-section.scss';
@import 'services-section.scss';
@import 'footer.scss';

* {
    box-sizing: border-box;
    line-height: 1;
}

*::selection {
    background: #ff434c;
}

:root {
    font-size: 10px;
}

body {
    position: relative;
}

button {
    border: none;
    background: none;
}

.link.from_left {
    position: relative;
    display: flex;

    &::after {
        content: "";
        position: absolute;
        display: block;
        bottom: -6px;
        left: 0;
        width: 100%;
        border-bottom: 1px solid #bb2d35;
        transform: scaleX(0);
        transform-origin: 0% 50%;
        transition: transform .1s ease-in-out;
        opacity: 1;
    }

    &:hover::after {
        transform: scaleX(1);
    }
}

.link.active {
    position: relative;
    display: flex;
    opacity: 1;

    &::after {
        content: "";
        position: absolute;
        display: block;
        bottom: -7px;
        left: 0;
        width: 100%;
        border-bottom: 1px solid #bb2d35;
    }
}

.no-opacity {
    opacity: 0;
    transition: opacity 1.2s;
}

.page {
    overflow: hidden;
}

.layout-centered {
    display: flex;
    width: 1680px;
    margin: auto;
}

.section-title {
    letter-spacing: 0.5px;
    font: 600 7rem 'Barlow', sans-serif;
    color: #111111;
}

.header-title {
    font: 700 9.2rem/10.12rem 'Barlow';
    white-space: pre-line;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 30px;
}

.scroll-opacity.is-visible {
    opacity: 1 !important;
}