@import 'overlay-nav.scss';
@import 'header-nav.scss';
@import 'sticky-nav.scss';
@import 'buttons.scss';
@import 'preloader.scss';
@import 'home.scss';
@import 'services.scss';

* {
    box-sizing: border-box;
    line-height: 1;
}

*::selection {
    background: #ff434c;
}

:root {
    font-size: 10px;
}

body {
    position: relative;
}

button {
    border: none;
    background: none;
}

.no-opacity {
    opacity: 0;
    transition: opacity 1.2s;
}

.page {
    overflow: hidden;
}

.layout-centered {
    display: flex;
    width: 1680px;
    margin: auto;
}

.section-title {
    letter-spacing: 0.5px;
    font: 600 7rem 'Barlow', sans-serif;
    color: #111111;
}

.scroll-opacity.is-visible {
    opacity: 1 !important;
}