* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  line-height: 1;
}

*::-moz-selection {
  background: #ff434c;
}

*::selection {
  background: #ff434c;
}

:root {
  font-size: 10px;
}

button {
  outline: none;
  border: none;
  background: transparent;
  color: #ffffff;
  font-size: 1.6rem;
  padding: 0;
}

.button {
  position: relative;
  padding: 10px 22px;
  border: 1px solid black;
  font: 400 1.6rem 'Barlow Semi Condensed', sans-serif;
  font-stretch: 100%;
  color: #111111;
  -webkit-transition: ease-out .4s;
  transition: ease-out .4s;
}

.button.slide_right:hover {
  -webkit-box-shadow: inset 123px 0 0 0 black;
          box-shadow: inset 123px 0 0 0 black;
  color: #ffffff;
}

.link.from_left {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.link.from_left::after {
  content: "";
  position: absolute;
  display: block;
  bottom: -6px;
  left: 0;
  width: 100%;
  border-bottom: 1px solid #bb2d35;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: 0% 50%;
          transform-origin: 0% 50%;
  -webkit-transition: -webkit-transform .1s ease-in-out;
  transition: -webkit-transform .1s ease-in-out;
  transition: transform .1s ease-in-out;
  transition: transform .1s ease-in-out, -webkit-transform .1s ease-in-out;
  opacity: 1;
}

.link.from_left:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.link.active {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 1;
}

.link.active::after {
  content: "";
  position: absolute;
  display: block;
  bottom: -7px;
  left: 0;
  width: 100%;
  border-bottom: 1px solid #bb2d35;
}

.no-opacity {
  opacity: 0;
  -webkit-transition: opacity 1.2s;
  transition: opacity 1.2s;
}

.page {
  overflow: hidden;
}

.layout-centered {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1680px;
  margin: auto;
}

.section-title {
  letter-spacing: 0.5px;
  font: 600 7rem 'Barlow', sans-serif;
  color: #111111;
}

.scroll-opacity.is-visible {
  opacity: 1 !important;
}

.overlay-nav {
  display: none;
  position: fixed;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #ffffff;
  font: 400 2.8rem 'Barlow', sans-serif;
  z-index: 1000;
}

.overlay-nav .close-overlay-nav {
  display: block;
  position: absolute;
  width: 30px;
  height: 30px;
  top: 20px;
  right: 20px;
  font-size: 1.6rem;
  color: #aaaaaa;
  opacity: 0.6;
}

.overlay-nav .close-overlay-nav:hover {
  opacity: 1;
}

.overlay-nav .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
}

.overlay-nav .menu .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.overlay-nav .menu .list .item {
  margin-bottom: 31px;
}

.overlay-nav .menu .list .item:hover {
  color: #ff3c48;
}

.overlay-nav .menu .list .item:nth-child(3) {
  margin-bottom: 27px;
}

.overlay-nav .menu .list .item:nth-child(4) {
  margin-bottom: 14px;
}

.overlay-nav .menu .list .item:nth-child(5) {
  margin-bottom: 26px;
}

.overlay-nav .menu .list .item:nth-child(4),
.overlay-nav .menu .list .item:nth-child(5) {
  font-size: 1.6rem;
}

.overlay-nav.open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.overlay-nav.fade-in {
  -webkit-animation: 0.3s opacityIn;
          animation: 0.3s opacityIn;
}

@-webkit-keyframes opacityIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes opacityIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.overlay-nav.fade-out {
  -webkit-animation: 0.3s opacityOut;
          animation: 0.3s opacityOut;
}

@-webkit-keyframes opacityOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes opacityOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.sticky-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  height: 80px;
  top: -85px;
  right: 0;
  left: 0;
  background: #ffffff;
  -webkit-transition: top .4s;
  transition: top .4s;
  z-index: 900;
}

.sticky-nav .positioner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 48px;
  width: 1680px;
  margin: auto;
}

.sticky-nav .positioner .open-overlay-nav {
  display: none;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 3.3rem;
  color: #444444;
}

.sticky-nav .positioner .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font: 400 2.8rem 'Barlow', sans-serif;
  z-index: 1;
}

.sticky-nav .positioner .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sticky-nav .positioner .menu .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font: 400 1.6rem 'Barlow Semi Condensed', sans-serif;
  z-index: 1;
}

.sticky-nav .positioner .menu .list .item {
  margin-left: 33px;
}

.sticky-nav .positioner .menu .list .item .link {
  opacity: 0.85;
  -webkit-transition: .3s;
  transition: .3s;
  color: #444444;
}

.sticky-nav .positioner .menu .list .item .link:hover {
  opacity: 1;
}

.sticky-nav .positioner .menu .list .item .link.active {
  opacity: 1;
}

.sticky-nav.scroll {
  top: 0;
}

.header {
  width: 100%;
  height: 98vh;
  background: url("../img/home-hero-2560w.jpg") 38% 52%/105% no-repeat;
  background-position-x: 38%;
  background-position-y: 52%;
  overflow: hidden;
  color: #ffffff;
}

.header .header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header .header-nav .positioner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 30px 48px 0;
  width: 1680px;
  margin: auto;
}

.header .header-nav .positioner .open-overlay-nav {
  display: none;
  position: absolute;
  left: 0;
  top: -7px;
  font-size: 3.3rem;
  color: #444444;
  z-index: 1;
}

.header .header-nav .positioner .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font: 400 2.8rem 'Barlow', sans-serif;
  z-index: 1;
}

.header .header-nav .positioner .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .header-nav .positioner .menu .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 10px;
  font: 400 1.6rem 'Barlow Semi Condensed', sans-serif;
  z-index: 1;
}

.header .header-nav .positioner .menu .list .item {
  margin-left: 33px;
}

.header .header-nav .positioner .menu .list .item .link {
  opacity: 0.7;
  -webkit-transition: .3s;
  transition: .3s;
}

.header .header-nav .positioner .menu .list .item .link.active {
  opacity: 1;
}

.header .header-nav .positioner .menu .list .item .link:hover {
  opacity: 1;
}

.header .layout-centered {
  position: relative;
  top: -7%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 10.6%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
}

.header .layout-centered .svg-square-1 {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 400px;
  height: 400px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.header .layout-centered .description {
  -ms-flex-item-align: start;
      align-self: flex-start;
  position: relative;
  font: 500 1.2rem 'Barlow Semi Condensed', sans-serif;
  text-transform: uppercase;
  letter-spacing: 1.7px;
  margin-bottom: 10px;
}

.header .layout-centered .description::before, .header .layout-centered .description::after {
  content: '';
  display: block;
  position: absolute;
  width: 80px;
  height: 2px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background: #f73a46;
}

.header .layout-centered .description::before {
  display: none;
  left: -97px;
}

.header .layout-centered .description::after {
  right: -97px;
}

.header .layout-centered .header-title {
  font: 700 9.2rem/10.12rem 'Barlow';
  white-space: pre-line;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 30px;
}

.header .layout-centered .icon-down {
  color: #fcfcfc;
  font-size: 1.6rem;
  margin-left: 4px;
}

.main .about-us {
  -webkit-transition: opacity 1.5s !important;
  transition: opacity 1.5s !important;
  background: url(../img/home-about-bg.svg) 18% 58%/50% no-repeat, url(../img/home-about-device.jpg) 77% 307px/27% no-repeat, url(../img/home-about-texture.svg) 77% 90%/30% no-repeat;
}

.main .about-us .layout-centered {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 510px;
  padding-left: 165px;
  padding-bottom: 492px;
}

.main .about-us .layout-centered .section-title {
  margin-bottom: 14px;
}

.main .about-us .layout-centered .description {
  margin-bottom: 46px;
  letter-spacing: -0.1px;
  white-space: pre-line;
  font: 400 1.6rem/2.8rem 'Barlow', sans-serif;
  color: #444444;
}

.main .about-us .layout-centered .features-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 45%;
  font: 400 2rem/3rem 'Barlow', sans-serif;
  color: #111111;
}

.main .about-us .layout-centered .features-list .item {
  width: 50%;
  margin-bottom: 10px;
}

.main .about-us .layout-centered .features-list .item:last-child {
  margin-bottom: 48px;
}

.main .about-us .layout-centered .button {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.main .projects {
  position: relative;
  padding-top: 205px;
  padding-bottom: 247px;
  background: linear-gradient(5deg, #1e1e1e 0, #111 100%);
}

.main .projects .positioner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 1400px;
  padding: 0 25px;
  margin: 0 auto 134px auto;
}

.main .projects .positioner .section-title {
  color: #ffffff;
}

.main .projects .positioner .button {
  color: #ffffff;
  border-color: #ffffff;
  z-index: 1;
}

.main .projects .positioner .button:hover {
  background: #ffffff;
  color: #000000;
}

.main .projects .projects-slider {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  z-index: 5;
}

.main .projects .projects-slider .swiper-slide {
  position: relative;
  overflow: hidden;
}

.main .projects .projects-slider .swiper-slide .image source,
.main .projects .projects-slider .swiper-slide .image img {
  width: 100%;
}

.main .projects .projects-slider .swiper-slide .overflow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(10, 10, 10, 0.65);
  opacity: 0;
  -webkit-transition: opacity .3s;
  transition: opacity .3s;
  color: #ffffff;
}

.main .projects .projects-slider .swiper-slide .overflow .title,
.main .projects .projects-slider .swiper-slide .overflow .description {
  -webkit-transition: opacity 0.6s, -webkit-transform 0.6s;
  transition: opacity 0.6s, -webkit-transform 0.6s;
  transition: opacity 0.6s, transform 0.6s;
  transition: opacity 0.6s, transform 0.6s, -webkit-transform 0.6s;
}

.main .projects .projects-slider .swiper-slide .overflow .title {
  margin-bottom: 15px;
  font: 500 3.6rem 'Barlow', sans-serif;
  opacity: 0;
}

.main .projects .projects-slider .swiper-slide .overflow .description {
  margin-top: 15px;
  font: 400 1.6rem 'Barlow', sans-serif;
  opacity: 0;
}

.main .projects .projects-slider .swiper-slide .overflow:hover {
  opacity: 1;
}

.main .projects .projects-slider .swiper-slide .overflow:hover .title,
.main .projects .projects-slider .swiper-slide .overflow:hover .description {
  opacity: 1;
}

.main .projects .projects-slider .swiper-slide .overflow:hover .title {
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
}

.main .projects .projects-slider .swiper-slide .overflow:hover .description {
  -webkit-transform: translateY(-14px);
          transform: translateY(-14px);
}

.main .projects .projects-slider .swiper-button-prev,
.main .projects .projects-slider .swiper-button-next {
  font-size: 2.2rem;
  color: #ffffff;
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.main .projects .projects-slider .swiper-button-prev::after,
.main .projects .projects-slider .swiper-button-next::after {
  display: none;
}

.main .projects .projects-slider .swiper-pagination {
  position: absolute;
  bottom: -44px;
  pointer-events: none;
}

.main .projects .projects-slider .swiper-pagination .swiper-pagination-bullet {
  pointer-events: auto;
  margin-right: 7px;
  padding: 5px;
  background: none;
  border: 1px solid gray;
}

.main .projects .projects-slider .swiper-pagination .swiper-pagination-bullet:not(.swiper-pagination-bullet-active):hover {
  border-color: white;
  opacity: 0.5;
}

.main .projects .projects-slider .swiper-pagination .swiper-pagination-bullet-active {
  border-color: #af3840;
}

.main .projects .projects-slider:hover .swiper-button-prev,
.main .projects .projects-slider:hover .swiper-button-next {
  opacity: 0.7;
}

.main .projects .svg-square-2 {
  position: absolute;
  top: 12.4%;
  left: 77.1%;
  width: 531px;
  height: 844px;
}

.main .our-clients {
  padding-top: 210px;
  padding-bottom: 195px;
}

.main .our-clients .our-clients-slider {
  display: none;
}

.main .our-clients .positioner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 1400px;
  padding: 0 25px;
  margin: auto;
}

.main .our-clients .positioner .section-title {
  width: 50%;
  word-spacing: 2.5px;
  letter-spacing: 1px;
  font-size: 5.3rem;
}

.main .our-clients .positioner .section-title .text {
  position: relative;
}

.main .our-clients .positioner .section-title .text::after, .main .our-clients .positioner .section-title .text::before {
  content: "";
  position: absolute;
  top: 50%;
  width: 80px;
  height: 2px;
  background: #f73a46;
}

.main .our-clients .positioner .section-title .text::before {
  display: none;
  left: -98px;
}

.main .our-clients .positioner .section-title .text::after {
  display: block;
  right: -98px;
}

.main .our-clients .positioner .description {
  width: 50%;
  margin-bottom: 165px;
  padding-left: 19px;
  white-space: pre-line;
  font: 400 1.6rem/2.6rem 'Barlow', sans-serif;
  color: #444444;
}

.main .our-clients .positioner .clients-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

.main .our-clients .positioner .clients-list .client {
  width: 20%;
  text-align: center;
}

.main .our-clients .positioner .clients-list .client .image {
  position: relative;
}

.main .our-clients .positioner .clients-list .client:nth-child(1) {
  margin-bottom: 85px;
}

.main .our-clients .positioner .clients-list .client:nth-child(1) .image {
  width: 90px;
  left: -27px;
}

.main .our-clients .positioner .clients-list .client:nth-child(2) .image {
  width: 115px;
  top: -9px;
  left: -11px;
}

.main .our-clients .positioner .clients-list .client:nth-child(3) .image {
  width: 125px;
  top: 5px;
  left: 3px;
}

.main .our-clients .positioner .clients-list .client:nth-child(4) .image {
  width: 125px;
  top: 5px;
  left: 15px;
}

.main .our-clients .positioner .clients-list .client:nth-child(5) .image {
  width: 105px;
  left: 27px;
}

.main .our-clients .positioner .clients-list .client:nth-child(6) {
  margin-bottom: 80px;
}

.main .our-clients .positioner .clients-list .client:nth-child(6) .image {
  width: 115px;
  top: 2px;
  left: -27px;
}

.main .our-clients .positioner .clients-list .client:nth-child(7) .image {
  width: 120px;
  left: -15px;
}

.main .our-clients .positioner .clients-list .client:nth-child(8) .image {
  width: 110px;
  top: 3px;
}

.main .our-clients .positioner .clients-list .client:nth-child(9) .image {
  width: 120px;
  left: 15px;
  top: 2px;
}

.main .our-clients .positioner .clients-list .client:nth-child(10) .image {
  width: 145px;
  left: 30px;
  top: -3px;
}

.main .our-clients .positioner .clients-list .client:nth-child(11) .image {
  width: 115px;
  left: -25px;
  top: -1px;
}

.main .our-clients .positioner .clients-list .client:nth-child(12) .image {
  width: 140px;
  left: -15px;
  top: -2px;
}

.main .our-clients .positioner .clients-list .client:nth-child(13) .image {
  width: 160px;
}

.main .our-clients .positioner .clients-list .client:nth-child(14) .image {
  width: 125px;
  left: 15px;
  top: -3px;
}

.main .our-clients .positioner .clients-list .client:nth-child(15) {
  margin-bottom: 294px;
}

.main .our-clients .positioner .clients-list .client:nth-child(15) .image {
  width: 145px;
  left: 30px;
  top: -1px;
}

.main .our-clients .positioner .clients-reviews {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
  color: #111111;
}

.main .our-clients .positioner .clients-reviews .title {
  width: 50%;
  font: 400 2.8rem 'Barlow', sans-serif;
}

.main .our-clients .positioner .clients-reviews .description {
  width: 50%;
  padding-top: 5px;
  margin-bottom: 13px;
  font: italic 400 2.4rem/3.4rem 'Barlow', sans-serif;
}

.main .our-clients .positioner .clients-reviews .author {
  width: 50%;
  padding-left: 25px;
  letter-spacing: 0px;
  font: italic 400 1.6rem 'Barlow', sans-serif;
  color: #444444;
}

.footer {
  padding-top: 260px;
  padding-bottom: 205px;
  background: url("../img/home-contact-texture.svg") 27.14% 41%/390px 272px no-repeat, linear-gradient(5deg, #1e1e1e 0, #111111 100%);
  color: #ffffff;
}

.footer .positioner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 1400px;
  padding: 0 25px;
  margin: auto;
}

.footer .positioner .section-title {
  width: 50%;
  padding-top: 17px;
  padding-left: 40px;
  color: #ffffff;
  line-height: 1.1;
}

.footer .positioner .section-title .link {
  white-space: pre-line;
  -webkit-text-decoration: solid underline;
          text-decoration: solid underline;
  -webkit-transition: opacity .3s;
  transition: opacity .3s;
}

.footer .positioner .section-title .link:hover {
  opacity: 0.5;
}

.footer .positioner .contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 50%;
  margin-bottom: 127px;
  padding-left: 20px;
}

.footer .positioner .contacts .address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
  margin-bottom: 22px;
}

.footer .positioner .contacts .address .title {
  margin-bottom: 20px;
  font: 400 2.8rem 'Barlow', sans-serif;
}

.footer .positioner .contacts .address .description {
  opacity: 0.7;
  white-space: pre-line;
  font: 400 1.6rem/2.7rem 'Barlow', sans-serif;
}

.footer .positioner .contacts .address-2 {
  padding-left: 20px;
}

.footer .positioner .contacts .tel-mail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
}

.footer .positioner .contacts .tel-mail .tel {
  margin-bottom: 5px;
  font: 400 2.4rem 'Barlow', sans-serif;
}

.footer .positioner .contacts .tel-mail .mail {
  -ms-flex-item-align: start;
      align-self: flex-start;
  font: 400 1.6rem 'Barlow', sans-serif;
  text-decoration: underline;
  -webkit-transition: opacity .3s;
  transition: opacity .3s;
}

.footer .positioner .contacts .tel-mail .mail:hover {
  opacity: 0.5;
}

.footer .positioner .contacts .tel-mail-2 {
  padding-left: 20px;
}

.footer .positioner .note {
  width: 50%;
  -webkit-transition: .3s;
  transition: .3s;
}

.footer .positioner .note .title {
  font: 400 2.4rem 'Barlow', sans-serif;
}

.footer .positioner .note .definition {
  font: 400 1.6rem 'Barlow', sans-serif;
  opacity: 0.7;
}

.footer .positioner .social-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-size: 1.9rem;
  width: 50%;
  padding-top: 8px;
  padding-left: 32px;
}

.footer .positioner .social-bar .item {
  margin-right: 33px;
  -webkit-transition: opacity .3s;
  transition: opacity .3s;
}

.footer .positioner .social-bar .item:hover {
  opacity: 0.5;
}

@media only screen and (min-height: 1000px) {
  .header {
    background: url("../img/home-hero-2560w.jpg") center/cover no-repeat;
  }
}

@media only screen and (max-width: 1680px) {
  .layout-centered {
    width: 100%;
  }
  .header .header-nav .positioner {
    width: 100%;
    margin: 0;
  }
}

@media only screen and (max-width: 1650px) {
  .header {
    background: url("../img/home-hero-2560w.jpg") center/cover no-repeat;
  }
}

@media only screen and (max-width: 1500px) {
  .main .about-us {
    background: url(../img/home-about-bg.svg) 18% 58%/50% no-repeat, url(../img/home-about-device.jpg) 77% 250px/27% no-repeat, url(../img/home-about-texture.svg) 77% 90%/30% no-repeat;
  }
  .main .about-us .layout-centered {
    padding-top: 350px;
  }
}

@media only screen and (max-width: 1400px) {
  .main .projects .positioner {
    width: 100%;
    padding: 0 35px;
  }
  .main .our-clients .positioner {
    padding: 35px;
    width: 100%;
  }
  .footer .positioner {
    width: 100%;
    padding: 0 35px;
  }
}

@media only screen and (max-width: 1300px) {
  .main .about-us {
    background: url(../img/home-about-bg.svg) 18% 58%/50% no-repeat, url(../img/home-about-device.jpg) 85% 250px/27% no-repeat, url(../img/home-about-texture.svg) 77% 90%/30% no-repeat;
  }
  .main .about-us .layout-centered {
    padding-left: 110px;
  }
  .main .about-us .layout-centered .features-list .item:nth-child(1),
  .main .about-us .layout-centered .features-list .item:nth-child(3),
  .main .about-us .layout-centered .features-list .item:nth-child(5) {
    padding-right: 15px;
  }
}

@media only screen and (max-width: 1200px) {
  .sticky-nav {
    height: 70px;
  }
  .sticky-nav .positioner {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .sticky-nav .positioner .open-overlay-nav {
    display: block;
  }
  .sticky-nav .positioner .logo {
    margin: 0 auto;
    font-size: 1.8rem;
    font-weight: 700;
  }
  .sticky-nav .positioner .menu {
    display: none;
  }
  .header {
    background: url("../img/home-hero-2560w.jpg") 70% 0/cover no-repeat;
  }
  .header .header-nav {
    height: 70px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background: #ffffff;
    color: #444444;
  }
  .header .header-nav .positioner {
    position: relative;
    padding: 0px 20px 0;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .header .header-nav .positioner .open-overlay-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header .header-nav .positioner .logo {
    margin: 0 auto;
    font-size: 1.8rem;
    font-weight: 700;
  }
  .header .header-nav .positioner .menu {
    display: none;
  }
  .header .layout-centered .header-title {
    font: 700 7rem/7.2rem 'Barlow';
    white-space: normal;
  }
  .main .about-us {
    background: url(../img/home-about-bg.svg) 18% 58%/50% no-repeat, url(../img/home-about-device.jpg) 85% 300px/27% no-repeat, url(../img/home-about-texture.svg) 77% 90%/30% no-repeat;
  }
  .main .about-us .layout-centered {
    padding-bottom: 340px;
  }
}

@media only screen and (max-width: 1100px) {
  .main .about-us {
    background: url(../img/home-about-bg.svg) 18% 58%/50% no-repeat, url(../img/home-about-device.jpg) 90% 250px/27% no-repeat, url(../img/home-about-texture.svg) 77% 90%/30% no-repeat;
  }
  .main .about-us .layout-centered {
    padding-top: 320px;
  }
  .main .our-clients .positioner .description {
    white-space: normal;
  }
}

@media only screen and (max-width: 1000px) {
  .main .about-us {
    background: url(../img/home-about-bg.svg) 18% 58%/50% no-repeat, url(../img/home-about-device.jpg) 95% 250px/27% no-repeat, url(../img/home-about-texture.svg) 77% 90%/30% no-repeat;
  }
  .main .about-us .layout-centered {
    padding-left: 70px;
    padding-top: 320px;
  }
  .main .projects {
    padding-top: 170px;
    padding-bottom: 225px;
  }
  .main .our-clients .positioner .clients-list .client {
    width: 33.3%;
  }
  .main .our-clients .positioner .clients-list .client .image {
    position: static;
  }
  .main .our-clients .positioner .clients-list .client:nth-child(6),
  .main .our-clients .positioner .clients-list .client:nth-child(7),
  .main .our-clients .positioner .clients-list .client:nth-child(10) {
    margin-bottom: 85px;
  }
  .footer {
    padding-top: 170px;
    padding-bottom: 140px;
    background: linear-gradient(5deg, #1e1e1e 0, #111111 100%);
  }
  .footer .positioner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer .positioner .section-title {
    margin-bottom: 80px;
    padding: 20px 0;
    width: 100%;
    font-size: 5rem;
    text-align: center;
    background: url("../img/home-contact-texture.svg") center no-repeat;
  }
  .footer .positioner .section-title .link {
    white-space: normal;
  }
  .footer .positioner .contacts {
    width: auto;
    padding: 0;
    margin: 0 auto 55px auto;
    text-align: center;
  }
  .footer .positioner .contacts .address-2 {
    padding: 0;
  }
  .footer .positioner .contacts .tel-mail .mail {
    -ms-flex-item-align: stretch;
        -ms-grid-row-align: stretch;
        align-self: stretch;
  }
  .footer .positioner .contacts .tel-mail-2 {
    padding: 0;
  }
  .footer .positioner .note {
    width: auto;
    text-align: center;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .footer .positioner .social-bar {
    margin: 0 auto 40px auto;
    width: auto;
    padding: 0;
  }
  .footer .positioner .social-bar .item {
    margin-right: 20px;
  }
}

@media only screen and (max-width: 900px) {
  .section-title {
    font-size: 5.5rem;
  }
  .main .about-us {
    background: url(../img/home-about-device.jpg) 50% 100px/400px no-repeat;
  }
  .main .about-us .layout-centered {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 720px;
    padding-bottom: 220px;
    text-align: center;
  }
  .main .about-us .layout-centered .section-title {
    margin-bottom: 20px;
  }
  .main .about-us .layout-centered .description {
    margin-bottom: 40px;
    white-space: normal;
  }
  .main .about-us .layout-centered .features-list {
    width: 100%;
  }
  .main .about-us .layout-centered .button {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .main .our-clients {
    padding-top: 180px;
  }
  .main .our-clients .positioner .section-title {
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
  }
  .main .our-clients .positioner .section-title .text::before {
    display: block;
  }
  .main .our-clients .positioner .description {
    width: 100%;
    padding: 0;
    text-align: center;
  }
  .main .our-clients .positioner .clients-list .client:nth-child(15) {
    margin-bottom: 240px;
  }
  .main .our-clients .positioner .clients-reviews {
    text-align: center;
  }
  .main .our-clients .positioner .clients-reviews .title {
    width: 100%;
    margin-bottom: 20px;
  }
  .main .our-clients .positioner .clients-reviews .description {
    padding: 0;
    width: 100%;
  }
  .main .our-clients .positioner .clients-reviews .author {
    width: 100%;
    padding: 0;
  }
}

@media only screen and (max-width: 800px) {
  .header .layout-centered .description {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .header .layout-centered .description:before {
    display: block;
  }
  .header .layout-centered .header-title {
    text-align: center;
  }
  .header .layout-centered .icon-down {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin-left: 0;
  }
  .main .about-us .layout-centered {
    padding-bottom: 180px;
  }
  .main .projects {
    padding-top: 150px;
    padding-bottom: 210px;
  }
}

@media only screen and (max-width: 768px) {
  .footer {
    padding-top: 135px;
    padding-bottom: 115px;
  }
}

@media only screen and (max-width: 700px) {
  .main .about-us .layout-centered {
    padding-left: 30px;
    padding-right: 30px;
  }
  .main .projects {
    padding-top: 105px;
    padding-bottom: 170px;
  }
  .main .projects .positioner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main .projects .positioner .section-title {
    margin-bottom: 30px;
  }
  .main .projects .projects-slider .swiper-button-prev,
  .main .projects .projects-slider .swiper-button-next {
    display: none;
  }
  .main .projects .svg-square-2 {
    top: 17%;
  }
  .main .our-clients {
    padding-top: 105px;
    padding-bottom: 100px;
  }
  .main .our-clients .positioner .clients-list .client:nth-child(15) {
    margin-bottom: 190px;
  }
}

@media only screen and (max-height: 640px) {
  .header .layout-centered {
    top: -3%;
  }
}

@media only screen and (max-width: 640px) {
  .footer .positioner .contacts {
    margin-bottom: 65px;
  }
  .footer .positioner .contacts .address,
  .footer .positioner .contacts .tel-mail {
    width: 100%;
  }
  .footer .positioner .contacts .addres-1 {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .footer .positioner .contacts .tel-mail-1 {
    margin-bottom: 22px;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .footer .positioner .contacts .address-2 {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .footer .positioner .contacts .tel-mail-2 {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }
}

@media only screen and (max-height: 600px) {
  .overlay-nav {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-top: 40px;
    padding-bottom: 10px;
    overflow-y: auto;
  }
}

@media only screen and (max-width: 600px) {
  .section-title {
    text-align: center;
    font-size: 5rem;
  }
  .header .layout-centered .header-title {
    font: 700 6rem/7.2rem 'Barlow';
  }
  .main .about-us .layout-centered .features-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .main .about-us .layout-centered .features-list .item {
    width: 100%;
  }
  .main .projects .positioner {
    padding-left: 10px;
    padding-right: 10px;
  }
  .main .our-clients .positioner .description {
    margin-bottom: 100px;
  }
  .main .our-clients .positioner .our-clients-slider {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    margin-bottom: 150px;
  }
  .main .our-clients .positioner .our-clients-slider .swiper-slide {
    padding-left: 20px;
    padding-right: 20px;
    overflow: hidden;
  }
  .main .our-clients .positioner .our-clients-slider .swiper-slide .clients {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .main .our-clients .positioner .our-clients-slider .swiper-slide .clients .client {
    width: 50%;
    text-align: center;
  }
  .main .our-clients .positioner .our-clients-slider .swiper-slide .clients .client:nth-child(1) {
    margin-bottom: 40px;
  }
  .main .our-clients .positioner .our-clients-slider .swiper-pagination {
    position: absolute;
    bottom: -40px;
  }
  .main .our-clients .positioner .our-clients-slider .swiper-pagination .swiper-pagination-bullet {
    margin-right: 7px;
    padding: 3px;
    background: none;
    opacity: 0.3;
    background: #444444;
  }
  .main .our-clients .positioner .our-clients-slider .swiper-pagination .swiper-pagination-bullet-active {
    background: #af3840;
    opacity: 0.7;
  }
  .main .our-clients .positioner .clients-list {
    display: none;
  }
}

@media only screen and (max-width: 480px) {
  .overlay-nav .overlay-nav-wrapper {
    padding-top: 20%;
  }
  .sticky-nav {
    height: 60px;
  }
  .header .header-nav {
    height: 60px;
  }
  .main .about-us .layout-centered {
    padding-bottom: 110px;
  }
  .main .projects {
    padding-top: 80px;
    padding-bottom: 130px;
  }
  .main .our-clients {
    padding-top: 60px;
    padding-bottom: 70px;
  }
  .main .our-clients .positioner .section-title {
    font-size: 4rem;
  }
  .main .our-clients .positioner .section-title .text::before, .main .our-clients .positioner .section-title .text::after {
    width: 60px;
  }
  .main .our-clients .positioner .section-title .text::before {
    left: -78px;
  }
  .main .our-clients .positioner .section-title .text::after {
    right: -78px;
  }
  .main .our-clients .positioner .our-clients-slider {
    margin-bottom: 110px;
  }
  .main .our-clients .positioner .our-clients-slider .swiper-slide {
    padding: 0;
  }
  .main .our-clients .positioner .our-clients-slider .swiper-slide .clients .client {
    width: 100%;
    margin-bottom: 40px;
  }
  .main .our-clients .positioner .our-clients-slider .swiper-pagination {
    bottom: 15px;
  }
}

@media only screen and (max-width: 400px) {
  .header .layout-centered .description::before, .header .layout-centered .description::after {
    width: 60px;
  }
  .header .layout-centered .description::before {
    left: -77px;
  }
  .header .layout-centered .description::after {
    right: -77px;
  }
  .header .layout-centered .header-title {
    font: 700 4rem/5rem 'Barlow';
  }
  .main .our-clients .positioner .section-title .text::before, .main .our-clients .positioner .section-title .text::after {
    width: 40px;
  }
  .main .our-clients .positioner .section-title .text::before {
    left: -58px;
  }
  .main .our-clients .positioner .section-title .text::after {
    right: -58px;
  }
}

@media only screen and (max-width: 360px) {
  .sticky-nav {
    height: 50px;
  }
  .header .header-nav {
    height: 50px;
  }
  .header .layout-centered .description::before, .header .layout-centered .description::after {
    width: 50px;
  }
  .header .layout-centered .description::before {
    left: -67px;
  }
  .header .layout-centered .description::after {
    right: -67px;
  }
  .main .about-us .layout-centered {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media only screen and (max-width: 320px) {
  .header .layout-centered .description::before, .header .layout-centered .description::after {
    display: none;
  }
  .main .our-clients .positioner .section-title .text::before, .main .our-clients .positioner .section-title .text::after {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */